.ch-examples {
    height: 100vh;
}

.ch-placement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ch-decorative-box {
    padding: 3rem;
    background-clip: padding-box;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.ch-bg-purple {
    background-color: var(--sl-color-purple-1);
}

.ch-bg-green {
    background-color: var(--sl-color-green-1);
} 
