@layer sl-tokens {
  :root {
    --sl-color-transparent: transparent;
    --sl-color-white: #ffffff;
    --sl-color-black: #000000;

    --sl-color-blue05: #f1f4fc;
    --sl-color-blue10: #dde5f7;
    --sl-color-blue20: #bbcbf0;
    --sl-color-blue30: #96b2f2;
    --sl-color-blue40: #2953b2;
    --sl-color-blue50: #20408c;
    --sl-color-blue60: #172f66;

    --sl-color-light-blue05: #edf5fb;
    --sl-color-light-blue10: #deecf7;
    --sl-color-light-blue20: #b9daf3;
    --sl-color-light-blue30: #7cbbea;
    --sl-color-light-blue40: #2978b5;
    --sl-color-light-blue50: #216090;
    --sl-color-light-blue60: #143c5c;

    --sl-color-red05: #fbf2f2;
    --sl-color-red10: #f8e3e3;
    --sl-color-red20: #edbaba;
    --sl-color-red30: #f49494;
    --sl-color-red40: #cc3d3d;
    --sl-color-red50: #962828;
    --sl-color-red60: #782020;

    --sl-color-green05: #ecf7ec;
    --sl-color-green10: #dff1e0;
    --sl-color-green20: #aeddb0;
    --sl-color-green30: #83d187;
    --sl-color-green40: #38853c;
    --sl-color-green50: #285f2b;
    --sl-color-green60: #1c431e;

    --sl-color-orange05: #fff5ec;
    --sl-color-orange10: #ffebd7;
    --sl-color-orange20: #ffcd9b;
    --sl-color-orange30: #f5ae70;
    --sl-color-orange40: #d56a00;
    --sl-color-orange50: #a65200;
    --sl-color-orange60: #5c2c00;

    --sl-color-cyan05: #eff9fb;
    --sl-color-cyan10: #d5eff4;
    --sl-color-cyan20: #a4dee9;
    --sl-color-cyan30: #63cbdb;
    --sl-color-cyan40: #1c99a8;
    --sl-color-cyan50: #207883;
    --sl-color-cyan60: #093f46;

    --sl-color-purple05: #f6f3fa;
    --sl-color-purple10: #ede8f4;
    --sl-color-purple20: #d3c4e4;
    --sl-color-purple30: #c6a5ea;
    --sl-color-purple40: #835ab3;
    --sl-color-purple50: #684391;
    --sl-color-purple60: #462d63;

    --sl-color-pink05: #fbf2f5;
    --sl-color-pink10: #f5e0e7;
    --sl-color-pink20: #eab2c4;
    --sl-color-pink30: #f48aab;
    --sl-color-pink40: #da3561;
    --sl-color-pink50: #b1204b;
    --sl-color-pink60: #850d35;

    --sl-color-teal05: #e8f7f3;
    --sl-color-teal10: #cdefe7;
    --sl-color-teal20: #a6e0d2;
    --sl-color-teal30: #66cbb7;
    --sl-color-teal40: #007969;
    --sl-color-teal50: #006053;
    --sl-color-teal60: #00463c;

    --sl-color-gray05: #f4f4f4;
    --sl-color-gray10: #e6e6e6;
    --sl-color-gray20: #dddddd;
    --sl-color-gray30: #b9b9b9;
    --sl-color-gray40: #747474;
    --sl-color-gray50: #545454;
    --sl-color-gray60: #3b3b3b;

    --sl-color-gray-transparent05: rgba(0, 0, 0, 0.05);
    --sl-color-gray-transparent10: rgba(0, 0, 0, 0.1);
    --sl-color-gray-transparent20: rgba(0, 0, 0, 0.2);
    --sl-color-gray-transparent30: rgba(0, 0, 0, 0.3);
    --sl-color-gray-transparent40: rgba(0, 0, 0, 0.4);
    --sl-color-gray-transparent50: rgba(0, 0, 0, 0.5);
    --sl-color-gray-transparent60: rgba(0, 0, 0, 0.6);
    --sl-color-gray-transparent70: rgba(0, 0, 0, 0.7);
    --sl-color-gray-transparent80: rgba(0, 0, 0, 0.8);
    --sl-color-gray-transparent90: rgba(0, 0, 0, 0.9);
  }

  /* background, bg */
  :root {
    --sl-bg-primary: var(--sl-color-white);
    --sl-bg-secondary: var(--sl-color-gray05);
    --sl-bg-disabled: var(--sl-color-gray10);
    --sl-bg-positive: var(--sl-color-green10);
    --sl-bg-critical: var(--sl-color-red10);
    --sl-bg-warning: var(--sl-color-orange10);
    --sl-bg-info: var(--sl-color-light-blue10);
    --sl-bg-inverted: var(--sl-color-black);
    --sl-bg-overlay: var(--sl-color-gray-transparent50);
    --sl-bg-skeleton: linear-gradient(
      90deg,
      var(--sl-color-transparent),
      var(--sl-color-gray10),
      var(--sl-color-transparent)
    );

    /* action neutral secondary */
    --sl-bg-action-neutral-secondary: var(--sl-color-gray05);
    --sl-bg-action-neutral-secondary-hover: var(--sl-color-gray10);
    --sl-bg-action-neutral-secondary-pressed: var(--sl-color-gray20);

    /* action neutral tertiary */
    --sl-bg-action-neutral-tertiary: var(--sl-color-transparent);
    --sl-bg-action-neutral-tertiary-hover: var(--sl-color-gray-transparent05);
    --sl-bg-action-neutral-tertiary-pressed: var(--sl-color-gray-transparent10);

    /* action main primary */
    --sl-bg-action-main-primary: var(--sl-color-blue40);
    --sl-bg-action-main-primary-hover: var(--sl-color-blue50);
    --sl-bg-action-main-primary-pressed: var(--sl-color-blue60);

    /* action main secondary */
    --sl-bg-action-main-secondary: var(--sl-color-blue10);
    --sl-bg-action-main-secondary-hover: var(--sl-color-blue20);
    --sl-bg-action-main-secondary-pressed: var(--sl-color-blue30);

    /* action main tertiary */
    --sl-bg-action-main-tertiary: var(--sl-color-transparent);
    --sl-bg-action-main-tertiary-hover: var(--sl-color-blue05);
    --sl-bg-action-main-tertiary-pressed: var(--sl-color-blue10);
    --sl-bg-action-main-tertiary-selected: var(--sl-color-blue05);

    /* action critical tertiary */
    --sl-bg-action-critical-primary: var(--sl-color-red40);
    --sl-bg-action-critical-primary-hover: var(--sl-color-red50);
    --sl-bg-action-critical-primary-pressed: var(--sl-color-red60);

    /* action critical tertiary */
    --sl-bg-action-critical-secondary: var(--sl-color-red10);
    --sl-bg-action-critical-secondary-hover: var(--sl-color-red20);
    --sl-bg-action-critical-secondary-pressed: var(--sl-color-red30);

    /* action critical tertiary */
    --sl-bg-action-critical-tertiary: var(--sl-color-transparent);
    --sl-bg-action-critical-tertiary-hover: var(--sl-color-red05);
    --sl-bg-action-critical-tertiary-pressed: var(--sl-color-red10);
    --sl-bg-action-critical-tertiary-selected: var(--sl-color-red05);

    /* form neutral */
    --sl-bg-form-neutral: var(--sl-color-transparent);
    --sl-bg-form-neutral-hover: var(--sl-color-gray10);
    --sl-bg-form-neutral-pressed: var(--sl-color-gray30);
    --sl-bg-form-neutral-checked: var(--sl-color-black);
    --sl-bg-form-neutral-checked-hover: var(--sl-color-gray60);
    --sl-bg-form-neutral-checked-pressed: var(--sl-color-gray50);
    --sl-bg-form-neutral-inactive: var(--sl-color-gray30);
    --sl-bg-form-neutral-inactive-hover: var(--sl-color-gray50);
    --sl-bg-form-neutral-inactivePressed: var(--sl-color-gray60);
    --sl-bg-form-neutral-active: var(--sl-color-black);
    --sl-bg-form-neutral-active-hover: var(--sl-color-gray60);
    --sl-bg-form-neutral-activePressed: var(--sl-color-gray50);

    /* form control */
    --sl-bg-form-control-hover: var(--sl-color-transparent);
    --sl-bg-form-control-checked: var(--sl-color-blue40);
    --sl-bg-form-control-checked-hover: var(--sl-color-blue50);
    --sl-bg-form-control-checkedFocus: var(--sl-color-blue50);
    --sl-bg-form-control-active: var(--sl-color-green40);
    --sl-bg-form-control-active-hover: var(--sl-color-green50);
    --sl-bg-form-control-inactive: var(--sl-color-gray30);
    --sl-bg-form-control-inactive-hover: var(--sl-color-gray40);
  }

  /* foreground, fg */
  :root {
    --sl-fg-primary: var(--sl-color-black);
    --sl-fg-secondary: var(--sl-color-gray50);
    --sl-fg-disabled: var(--sl-color-gray40);
    --sl-fg-inverted: var(--sl-color-white);
    --sl-fg-positive: var(--sl-color-green40);
    --sl-fg-info: var(--sl-color-light-blue40);
    --sl-fg-critical: var(--sl-color-red40);
    --sl-fg-warning: var(--sl-color-orange40);

    /* action neutral tertirary */
    --sl-fg-action-neutral-tertiary: var(--sl-color-gray50);
    --sl-fg-action-neutral-tertiary-hover: var(--sl-color-gray60);
    --sl-fg-action-neutral-tertiary-pressed: var(--sl-color-black);

    /* action main primary */
    --sl-fg-action-main-primary: var(--sl-color-white);
    --sl-fg-action-main-primary-hover: var(--sl-color-white);
    --sl-fg-action-main-primary-pressed: var(--sl-color-white);

    /* action main secondary */
    --sl-fg-action-main-secondary: var(--sl-color-blue40);
    --sl-fg-action-main-secondary-hover: var(--sl-color-blue50);
    --sl-fg-action-main-secondary-pressed: var(--sl-color-blue60);

    /* action main tertiary */
    --sl-fg-action-main-tertiary: var(--sl-color-blue40);
    --sl-fg-action-main-tertiary-hover: var(--sl-color-blue50);
    --sl-fg-action-main-tertiary-pressed: var(--sl-color-blue60);
    --sl-fg-action-main-tertiary-selected: var(--sl-color-blue40);

    /* action critical primary */
    --sl-fg-action-critical-primary: var(--sl-color-white);
    --sl-fg-action-critical-primary-hover: var(--sl-color-white);
    --sl-fg-action-critical-primary-pressed: var(--sl-color-white);

    /* action critical secondary */
    --sl-fg-action-critical-secondary: var(--sl-color-red40);
    --sl-fg-action-critical-secondary-hover: var(--sl-color-red50);
    --sl-fg-action-critical-secondary-pressed: var(--sl-color-red60);

    /* action critical tertiary */
    --sl-fg-action-critical-tertiary: var(--sl-color-red40);
    --sl-fg-action-critical-tertiary-hover: var(--sl-color-red50);
    --sl-fg-action-critical-tertiary-pressed: var(--sl-color-red60);
    --sl-fg-action-critical-tertiary-selected: var(--sl-color-red40);

    /* form neutral */
    --sl-fg-form-neutral: var(--sl-color-black);
    --sl-fg-form-neutral-checked: var(--sl-color-white);

    /* form control */
    --sl-fg-form-control-neutral: var(--sl-color-black);
    --sl-fg-form-control-checked: var(--sl-color-white);
    --sl-fg-form-control: var(--sl-color-white);
  }
}
