@layer sl-components {
  [data-sl-grid] {
    display: grid;
    gap: var(--sl-grid-gap);
    grid-template-areas: var(--sl-grid-templateAreas);
    grid-template-rows: var(--sl-grid-templateRows);
    grid-template-columns: var(--sl-grid-templateColumns);
    grid-auto-columns: var(--sl-grid-autoColumns);
    grid-auto-rows: var(--sl-grid-autoRows);
    grid-auto-flow: var(--sl-grid-autoFlow);
  }
}
