@layer sl-components {
  [data-sl-grid] {
    display: grid;
    gap: var(--sl-grid-gap);
    grid-template-areas: var(--sl-grid-templateAreas);
    grid-template-rows: var(--sl-grid-templateRows);
    grid-template-columns: var(--sl-grid-templateColumns);
    grid-auto-columns: var(--sl-grid-autoColumns);
    grid-auto-rows: var(--sl-grid-autoRows);
    grid-auto-flow: var(--sl-grid-autoFlow);
  }

  [data-sl-grid-cell] {
    grid-column-start: var(--sl-grid-cell-columnStart);
    grid-column-end: var(--sl-grid-cell-columnEnd);
    grid-row-start: var(--sl-grid-cell-rowStart);
    grid-row-end: var(--sl-grid-cell-rowEnd);
    grid-column: var(--sl-grid-cell-column);
    grid-row: var(--sl-grid-cell-row);
    grid-area: var(--sl-grid-cell-area);
  }
}
