@layer sl-components {
  @keyframes wave {
    0% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  [data-sl-skeleton] {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--sl-bg-muted);
    overflow: hidden;
    &::after {
      animation: wave 1.6s linear 0.5s infinite;
      background: linear-gradient(
        90deg,
        transparent,
        var(--sl-bg-strong),
        transparent
      );
      content: '';
      position: absolute;
      transform: translateX(-100%);
      bottom: var(--sl-space-0);
      left: var(--sl-space-0);
      right: var(--sl-space-0);
      top: var(--sl-space-0);
    }
    &[data-sl-skeleton-shape='rect'] {
      border-radius: var(--sl-border-radius-medium);
    }
    &[data-sl-skeleton-shape='circle'] {
      border-radius: var(--sl-border-radius-full);
    }
  }
}
