[data-sl-chart-skeleton-container] {
  min-width: 300;
  min-height: 200;
  position: relative;
  padding-right: 8px;
  margin-bottom: 32px;
}
[data-sl-chart-skeleton-spinner] {
  position: absolute;
  top: 50%;
  left: 50%;
}

[data-sl-inner-flex] {
  height: 100%;
  width: 100;
}

[data-ls-chart-skeleto-chart-flex] {
  padding-left: 40px;
}

[data-sl-chart-skeleton-line-box] {
  margin-right: var(--sl-space-2);
}

[data-sl-chart-skeleton-line] {
  width: 100%;
  height: 0.5px;
}
