[data-sl-chart-legend] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sl-space-4);
  margin: var(--sl-space-2);
}

[data-sl-chart-legend-container] {
  display: flex;
  align-items: center;
  padding: var(--sl-space-0);
  gap: var(--sl-space-1);
}

[data-sl-chart-legend-button] {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: var(--sl-radius-1);
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

[data-sl-chart-legend-button]:focus {
  box-shadow: var(--sl-focus-ring-base);
}

[data-sl-chart-legend-check] {
  color: var(--sl-fg-inverted);
  margin: auto;
  width: 10px;
  height: 10px;
}

[data-sl-chart-legend-text] {
  cursor: pointer;
  font: var(--sl-text-caption-1-font);
  color: var(--sl-fg-base-soft);
  font-size: 12px;
}
