[data-sl-chart-legend] {
  display: flex;
  gap: var(--sl-space-4);
  margin: var(--sl-space-4);
}

[data-sl-chart-legend-container] {
  display: flex;
  align-items: center;
  padding: var(--sl-space-0);
  gap: var(--sl-space-1);
}

[data-sl-chart-legend-button] {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: var(--sl-radius-1);
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

[data-sl-chart-legend-button]:focus {
  box-shadow: var(--sl-focus-ring-base);
}

[data-sl-chart-legend-check] {
  color: var(--sl-fg-inverted);
  width: 9.75;
  height: 7.125;
}

[data-sl-chart-legend-text] {
  cursor: pointer;
  font: var(--sl-text-body-font);
  color: var(--sl-fg-base-soft);
  font-size: "12px";
}
