[data-sl-chart-tooltip] {
  background-color: var(--sl-color-gray-0);
  border-radius: 4px;
  min-width: 100px;
  padding-left: var(--sl-space-3);
  padding-right: var(--sl-space-3);
  padding-top: var(--sl-space-1);
  padding-bottom: var(--sl-space-1);
}
[data-sl-chart-tooltip-title] {
  font-weight: bold;
  font-size: 12;
  padding-top: var(--sl-space-1);
  padding-left: var(--sl-space-3);
}
[data-sl-chart-tooltip-data-container] {
  display: flex;
  justify-content: space-between;
  padding: var(--sl-space-1) 0px;
}
[data-sl-chart-tooltip-data-serie-container] {
  display: flex;
  align-items: center;
}
[data-sl-chart-tooltip-data-serie-label-box] {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: var(--sl-space-1);
  border-radius: var(--sl-space-1);
}
[data-sl-chart-tooltip-data-serie-value] {
  font-weight: bold;
  margin-left: var(--sl-space-gap);
}
