[data-sl-chart-tooltip] {
  background-color: var(--sl-color-gray-0);
  border-radius: 4px;
  min-width: 100px;
}
[data-sl-chart-tooltip-data-container] {
  display: flex;
  justify-content: space-between;
  padding: var(--sl-space-1) 0px;
}
[data-sl-chart-tooltip-data-serie-container] {
  display: flex;
  align-items: center;
}
[data-sl-chart-tooltip-data-serie-label-box] {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: var(--sl-space-1);
  border-radius: var(--sl-space-1);
}
[data-sl-chart-tooltip-title] {
  font: var(--sl-text-caption-1);
  /* font: var(--sl-text-caption-1-font); */
  /* letter-spacing: var(--sl-text-caption-1-letter-spacing); */

  font-weight: bold;
  font-size: 12;
  color: var(--sl-fg-base);
}
[data-sl-chart-tooltip-data-serie-name] {
  font: var(--sl-text-body);
  font-weight: var(--sl-font-weight-regular);
  font-size: 14;
  color: var(--sl-fg-base-soft);
}
[data-sl-chart-tooltip-data-serie-value] {
  font: var(--sl-text-emphasis);
  font-weight: var(--sl-font-weight-medium);
  margin-left: var(--sl-space-gap);
  font-size: 14;
  color: var(--sl-fg-base);
}
