[data-sl-chart-tooltip] {
  background-color: var(--sl-color-gray-0);
  border-radius: 4px;
  /* min-width: 100px; */
}
[data-sl-chart-tooltip-data-container] {
  display: flex;
  justify-content: space-between;
  padding: var(--sl-space-1) 0px;
}
[data-sl-chart-tooltip-data-serie-container] {
  display: flex;
  align-items: center;
}
[data-sl-chart-tooltip-data-serie-label-line] {
  width: 4px;
  height: 36px;
  display: inline-block;
  margin-right: var(--sl-space-1);
  border-radius: var(--sl-space-1);
}
[data-sl-chart-tooltip-title] {
  font: var(--sl-text-caption-1-font);
  letter-spacing: var(--sl-letter-spacing-0);
  color: var(--sl-fg-base);
}
[data-sl-chart-tooltip-data-serie-name] {
  font: var(--sl-text-body-font);
  letter-spacing: var(--sl-text- -letter-spacing);
  color: var(--sl-fg-base-soft);
  letter-spacing: var(--sl-letter-spacing-2);
}
[data-sl-chart-tooltip-data-serie-value] {
  font: var(--sl-text-display-3-font);
  letter-spacing: var(--sl-letter-spacing-2);
  color: var(--sl-fg-base);
}
