.wrapper-container {
  position: relative;
}

.preview-default-container {
  padding: 1.5rem;
  background: white;
}

.preview-grid-container {
  position: relative;
  display: grid;
  grid-gap: 1px;
  align-items: center;
  justify-items: center;
  width: 100%;
  background: transparent;
  z-index: 1;

  >* {
    margin: 56px 0;
  }
}

.background-grid-container {
  position: absolute;
  display: grid;
  grid-gap: 1px;
  top: 0;
  width: 100%;
  height: 100%;

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 56px 0;
    background: white;
  }
}

.preview-default-container,
.preview-grid-container,
.__reakit-portal  {
  table {
    margin: 0;

    thead tr {
      border: none;
    }

    tbody tr {
      border-top: none;

      &:nth-child(2n):not(:hover) {
        background-color: revert;
      }
    }
  }
}

.preview-default-container,
.preview-grid-container {
  table td,
  table th {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.__reakit-portal {
  table {
    tbody td {
      padding-top: 0;
      padding-bottom: 0;
    }

    tbody tr:nth-child(2n):hover {
      background-color: revert;
    }

    td,
    th {
      border: none;
      padding-left: 0;
      padding-right: 0;
    }
  }

  h2 {
    font-weight: unset !important;
  }
}
