@layer sl-components {
  [data-sl-label] {
    color: var(--sl-fg-soft);
    font: var(--sl-text-body-font);
    letter-spacing: var(--sl-text-body-letter-spacing);
  }

  [data-sl-label-optional-flag] {
    color: var(--sl-fg-soft);
    margin-inline-start: var(--sl-space-1);
  }
}
