# Keep in sync with .gitignore + .prettierignore
**/node_modules
**/dist
packages/icons/native
**/.cache
**/coverage
**/build
storybook-static

# Resolve: Parsing error: Unexpected token <
**/gatsby-browser.js
**/gatsby-ssr.js
**/404.js
**/src/theme/**/*.js
