# Keep in sync with .gitignore + .prettierignore
**/node_modules
**/dist
packages/icons/native
**/.cache
**/coverage
**/build
storybook-static

# Resolve: Parsing error: Unexpected token <
**/gatsby-browser.js
**/gatsby-ssr.js
**/404.js
**/src/theme/**/*.js

# Resolve: Parsing error: Unexpected token .
# not accepting conditional chaining
packages/create-raccoon-app/src/index.js

# Resolve: Expected exception block, space or tab after '//' in comment
examples/shoreline-nextjs-integration/next-env.d.ts

# Resolve: ES2015 module syntax is preferred over namespaces
packages/docs-generator/src/json-parser