{
  "extends": ["vtex"],
  "ignorePatterns": [
    "node_modules/",
    "public/",
    "dist/",
    "types/",
    "coverage/",
    ".vscode/",
    ".cache/",
    "__mocks__/",
    "__generated__/"
  ],
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "extends": ["vtex-react"], 
      "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/prefer-optional-chain": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-shadow": "off",
        "func-names": "off",
        "array-callback-return": "off",
        "react/no-children-prop": "off",
        "react-hooks/exhaustive-deps": "off",
        "react/jsx-key": "off",
        "node/no-path-concat": "off",
        "@typescript-eslint/naming-convention": "off",
        "react/display-name": "off",
        "prefer-destructuring": "off",
        "jest/no-commented-out-tests": "off",
        "@typescript-eslint/prefer-nullish-coalescing": "off",
        "react/no-unescaped-entities": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "no-fallthrough": "off",
        "no-alert": "off",
        "react-hooks/rules-of-hooks": "off",
        "import/order": "off",
        "no-console": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "max-params": "off",
        "jsx-a11y/accessible-emoji": "off",
        "jest/no-identical-title": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "default-case": "off",
        "no-restricted-syntax": "off",
        "react/jsx-handler-names": "off"
      }
    }
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/prefer-optional-chain": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-shadow": "off",
    "func-names": "off",
    "array-callback-return": "off",
    "react/no-children-prop": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-key": "off",
    "node/no-path-concat": "off",
    "@typescript-eslint/naming-convention": "off",
    "react/display-name": "off",
    "prefer-destructuring": "off",
    "jest/no-commented-out-tests": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "react/no-unescaped-entities": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-fallthrough": "off",
    "no-alert": "off",
    "react-hooks/rules-of-hooks": "off",
    "import/order": "off",
    "no-console": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "max-params": "off",
    "jsx-a11y/accessible-emoji": "off",
    "jest/no-identical-title": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "default-case": "off",
    "no-restricted-syntax": "off",
    "react/jsx-handler-names": "off"
  }
}