.hero {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.textContainer {
  text-align: center;
  max-width: 75ch;
  padding-bottom: 1.5rem;
}

.heading {
  font-size: 3.5rem !important; /* !important is necessary because we use the unlayered version on the site */
  line-height: 1.1 !important; /* !important is necessary because we use the unlayered version on the site */
}
