.hero {
  margin-top: 80px;
  margin-bottom: 80px;
}

.heading {
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -2.4px;
  max-width: 824px;
  color: var(--sl-fg-base);
}

.heading2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.6px;
  color: var(--sl-fg-base);
}

.subtitle {
  font-weight: 500;
  size: 18px;
  line-height: 28px;
  letter-spacing: -0.36px;
  color: var(--sl-fg-base-soft);
  max-width: 575px;
}

.image {
  border-radius: 1rem;
}

.featureLink {
  transition: all 200ms ease-in-out;
}

.featureLink:hover h2 {
  text-decoration: underline;
}

.featureLink:hover {
  opacity: 0.85;
}

.button {
  transform: scale(1.1);
  transform-origin: top left;
}

.status {
  display: flex;
  flex-direction: row;
  gap: var(--sl-space-2);
  background-color: var(--sl-bg-accent);
  align-items: center;
  padding: var(--sl-space-1) var(--sl-space-2);
  color: #6C727F;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

.statusDot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--sl-fg-accent);
}
