.card {
  --radii: var(--sl-border-radius-large);
  border-radius: var(--radii);
  transition: background 250ms ease-in-out;
}

.card:hover {
  background: var(--sl-color-gray-1);
}

.card:hover img,
.card:focus img {
  transform: scale(1.05);
}

.imgWrapper {
  --radii: var(--sl-border-radius-large);
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: var(--radii);
}

.card img {
  border-radius: var(--radii);
  transition: transform 250ms ease-in-out;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--sl-space-1) var(--sl-space-3) var(--sl-space-6)
    var(--sl-space-3);
  gap: var(--sl-space-2);
}

.title {
  font-family: var(--sl-font-family-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1.12px;
  color: var(--sl-fg-base);
}

.description {
  font-family: var(--sl-font-family-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--sl-color-gray-8);
}
