@layer sl-tokens {
  :where([data-sl-search]) {
    --sl-search-height: 2.75rem;
    --sl-search-min-width: 20rem;
  }
}

@layer sl-components {
  [data-sl-search] {
    display: flex;
    align-items: center;
    height: var(--sl-search-height);
    min-width: var(--sl-search-min-width);
    padding: var(--sl-space-3) var(--sl-space-4);
    border-radius: var(--sl-border-radius-medium);
    border: var(--sl-border-strong);
    background: var(--sl-bg);

    &:hover {
      border: var(--sl-border-strong-hover);
    }
    &:focus-within {
      box-shadow: var(--sl-focus-ring);
    }

    &[data-disabled='true'] {
      border: var(--sl-border-disabled);
      background-color: var(--sl-bg-disabled);
    }

    & > [data-sl-pre-icon] {
      color: var(--sl-fg-soft);
      flex-shrink: 0;
    }

    & > [data-sl-search-input] {
      width: 100%;
      border: none;
      background-color: unset;
      padding: var(--sl-space-0) var(--sl-space-2);
      font: var(--sl-text-emphasis-font);
      letter-spacing: var(--sl-text-emphasis-letter-spacing);

      &:focus {
        outline: none;
      }
      &::placeholder {
        font: var(--sl-text-body-font);
        letter-spacing: var(--sl-text-body-letter-spacing);
      }
    }
  }
}
