.variants--grid {
  --column-count: 6;

  display: grid;
  grid-template-columns: repeat(var(--column-count), max-content);
  width: 100%;
  gap: var(--sl-space-gap);
  padding: var(--sl-space-gap);
  & + .variants--grid {
    margin-top: var(--sl-space-10);
  }
}

.variants--grid-leading {
  font: var(--sl-text-body-font);
  letter-spacing: var(--sl-text-body-letter-spacing);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
