[data-sl-collection] {
  display: flex;
  flex-direction: column;
  gap: var(--sl-space-4);
}

[data-sl-collection-row] {
  --justify: space-between;
  --align: center;
  --direction: row;
  --gap: var(--sl-space-2);

  display: flex;
  flex-direction: var(--direction);
  justify-content: var(--justify);
  align-items: var(--align);
  gap: var(--gap);

  & [data-sl-flex] {
    --align: center;
  }
}
