[data-sl-field] {
  display: inline-flex;
  flex-direction: column;
  min-width: fit-content;

  &[data-space='normal'] {
    gap: var(--sl-space-1);
  }

  &[data-space='large'] {
    gap: var(--sl-space-3);
  }
}

[data-sl-field-error] {
  color: var(--sl-fg-critical);
  font: var(--sl-text-caption-2-font);
  letter-spacing: var(--sl-text-caption-2-letter-spacing);
}

[data-sl-field-description] {
  color: var(--sl-fg-base-soft);
  font: var(--sl-text-caption-2-font);
  letter-spacing: var(--sl-text-caption-2-letter-spacing);
}

[data-sl-field-char-counter] {
  margin-left: var(--sl-space-3);
  color: var(--sl-fg-base-soft);
  font: var(--sl-text-caption-2-font);
  letter-spacing: var(--sl-text-caption-2-letter-spacing);
}
