[data-sl-flex] {
  --sl-flex-order: 0;
  --sl-flex-direction: column;
  --sl-flex-grow: 0;
  --sl-flex-wrap: nowrap;
  --sl-flex-shrink: 1;
  --sl-flex-basis: auto;
  --sl-flex-justify: flex-start;
  --sl-flex-align: flex-start;
  --sl-flex-gap: var(--sl-space-gap);

  display: flex;
  order: var(--sl-flex-order, 0);
  flex-direction: var(--sl-flex-direction, column);
  flex-grow: var(--sl-flex-grow, 0);
  flex-wrap: var(--sl-flex-wrap, nowrap);
  flex-shrink: var(--sl-flex-shrink, 1);
  flex-basis: var(--sl-flex-basis, auto);
  justify-content: var(--sl-flex-justify, flex-start);
  align-items: var(--sl-flex-align, stretch);
  gap: var(--sl-flex-gap, var(--sl-space-gap));
}
