[data-sl-grid] {
  --sl-grid-gap: var(--sl-space-gap);
  --sl-grid-areas: none;
  --sl-grid-rows: auto;
  --sl-grid-columns: auto;
  --sl-grid-auto-columns: auto;
  --sl-grid-auto-rows: auto;
  --sl-grid-auto-flow: row;

  display: grid;
  gap: var(--sl-grid-gap);
  grid-template-areas: var(--sl-grid-areas);
  grid-template-rows: var(--sl-grid-rows);
  grid-template-columns: var(--sl-grid-columns);
  grid-auto-columns: var(--sl-grid-auto-columns);
  grid-auto-rows: var(--sl-grid-auto-rows);
  grid-auto-flow: var(--sl-grid-auto-flow);
}

[data-sl-grid-cell] {
  --sl-grid-cell-area: auto;
  --sl-grid-cell-column: auto;
  --sl-grid-cell-row: auto;
  --sl-grid-cell-column-start: auto;
  --sl-grid-cell-column-end: auto;
  --sl-grid-cell-row-start: auto;
  --sl-grid-cell-row-end: auto;

  grid-area: var(--sl-grid-cell-area);
  grid-column: var(--sl-grid-cell-column);
  grid-row: var(--sl-grid-cell-row);
  grid-column-start: var(--sl-grid-cell-column-start);
  grid-column-end: var(--sl-grid-cell-column-end);
  grid-row-start: var(--sl-grid-cell-row-start);
  grid-row-end: var(--sl-grid-cell-row-end);
}

