[data-sl-select] {
  [data-sl-select-button] {
    --height: 2.75rem;
    --min-width: 20rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--sl-space-3);
    color: var(--sl-fg-base-soft);
    font: var(--sl-text-body-font);
    letter-spacing: var(--sl-text-body-letter-spacing);
    padding: var(--sl-space-3) var(--sl-space-4);
    border: var(--sl-border-base-strong);
    border-radius: var(--sl-radius-2);
    background: var(--sl-bg-base);
    outline: none;
    appearance: none;
    min-width: min(var(--min-width), 100%);
    height: var(--height);
    box-sizing: border-box;

    &:focus-visible {
      box-shadow: var(--sl-focus-ring-base);
    }

    &[data-selected='true'] {
      color: var(--sl-fg-base);
    }

    &[data-error='true'] {
      border: var(--sl-border-critical-strong);
      &:hover {
        border: var(--sl-border-critical-strong-hover);
      }
      &:focus-visible {
        box-shadow: var(--sl-focus-ring-critical);
      }
      &:focus {
        border: var(--sl-border-critical-strong-hover);
      }
    }

    &:hover {
      border: var(--sl-border-base-strong-hover);
    }

    &:focus {
      border: var(--sl-border-base-strong-hover);
    }

    &:disabled {
      opacity: 1;
      cursor: auto;
      border: var(--sl-border-base-disabled);
      color: var(--sl-fg-base-disabled);
      background: var(--sl-bg-base-disabled);
      + svg {
        color: var(--sl-fg-base-disabled);
      }
      &:hover {
        border: var(--sl-border-base-disabled);
      }
    }
  }

  [data-sl-select-item] {
    display: flex;
    align-items: center;
    cursor: default;
    scroll-margin: var(--sl-space-2);
    gap: var(--sl-space-1);
    border-radius: var(--sl-radius-2);
    padding: var(--sl-space-2) var(--sl-space-3);
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
  }

  [data-sl-select-item-check] {
    --icon-size: 1rem;
    width: var(--icon-size) !important;
    height: var(--icon-size) !important;
    color: var(--sl-fg-accent);
  }

  [data-sl-select-item][aria-disabled='true'] {
    opacity: 0.5;
  }

  [data-sl-select-item][data-active-item] {
    background-color: var(--sl-bg-accent-strong);
    color: var(--sl-fg-inverted);

    & > [data-sl-select-item-check] {
      color: var(--sl-fg-inverted);
    }
  }

  [data-sl-select-popover] {
    z-index: var(--z-10);
    display: flex;
    max-height: min(var(--popover-available-height, 18.75rem), 18.75rem);
    flex-direction: column;
    overflow: auto;
    overscroll-behavior: contain;
    border-radius: var(--sl-radius-2);
    border: var(--sl-border-base);
    background-color: var(--sl-bg-base);
    padding: var(--sl-space-2);
    color: var(--sl-fg-base);
    box-shadow: var(--sl-shadow-1);
    transform-origin: top;
    opacity: 0;
    transition-property: opacity, scale, translate;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    scale: 0.95;
    translate: 0 -0.25rem;
  }

  [data-sl-select-popover]:focus-visible,
  [data-sl-select-popover][data-focus-visible] {
    outline: 0.125rem solid var(--sl-color-blue-6);
    outline-offset: -0.0625rem;
  }

  [data-sl-select-popover][data-enter] {
    opacity: 1;
    scale: 1;
    translate: 0;
  }
}
