@keyframes sl-keyframes-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

[data-sl-skeleton] {
  --sl-skeleton-width: 100%;
  --sl-skeleton-height: 100%;

  display: block;
  position: relative;
  width: var(--sl-skeleton-width);
  height: var(--sl-skeleton-height);
  background: var(--sl-bg-base-soft);
  overflow: hidden;

  &::after {
    animation: sl-keyframes-pulse 2s ease-in-out 0.5s infinite;
    background: var(--sl-bg-muted-pressed);
    content: "";
    position: absolute;
    bottom: var(--sl-space-0);
    left: var(--sl-space-0);
    right: var(--sl-space-0);
    top: var(--sl-space-0);
  }
  &[data-sl-skeleton-shape="rect"] {
    border-radius: var(--sl-radius-1);
  }
  &[data-sl-skeleton-shape="circle"] {
    border-radius: var(--sl-radius-full);
  }
}
