[data-sl-stack] {
  --sl-stack-space: var(--sl-space-gap);
  --sl-stack-align: start;

  display: flex;

  &[data-horizontal="false"] {
    flex-direction: column;
    justify-content: flex-start;
    align-items: var(--sl-stack-align);
    row-gap: var(--sl-stack-space);

    & > * {
      margin-block: 0;
    }

    &[data-fluid="true"] {
      align-items: unset;
      justify-content: unset;
    }
  }

  &[data-horizontal="true"] {
    flex-direction: row;
    align-items: center;
    justify-content: var(--sl-stack-align);
    column-gap: var(--sl-stack-space);

    & > * {
      margin-inline: 0;
    }
  }
}
