[data-sl-ts-table] {
  width: 100%;

  &[data-virtualize='true'] {
    max-height: 31.25rem;
    overflow-y: auto;
  }
}

[data-sl-ts-table-detail-row] {
  background: var(--sl-bg-base-soft);
}

[data-sl-table-cell],
[data-sl-table-header-cell] {
  & > * [data-sl-checkbox-label] {
    margin: var(--sl-space-0);
  }
}
