[data-sl-tab] {
  --sl-tab-border-bottom-width: 0.125rem;
  --sl-tab-border-width: 0rem 0rem var(--sl-tab-border-bottom-width) 0rem;

  height: 2.75rem;
  background: transparent;
  border-radius: var(--sl-border-radius-none);
  border-width: var(--sl-tab-border-width);
  border-color: transparent;
  border-style: solid;
  font: var(--sl-text-action-font);
  letter-spacing: var(--sl-text-action-letter-spacing);
  padding-right: var(--sl-space-3);
  padding-left: var(--sl-space-3);
  margin-bottom: -0.0625rem;
  outline: none;

  & [data-sl-tab-content] {
    background: var(--sl-bg-base-plain);
    color: var(--sl-fg-muted);
    border-radius: var(--sl-border-radius-medium);
    padding: var(--sl-space-1) var(--sl-space-2);
    margin: calc(var(--sl-space-1) * -1) calc(var(--sl-space-2) * -1);
  }

  &:hover {
    & [data-sl-tab-content] {
      background: var(--sl-bg-base-plain-hover);
      color: var(--sl-fg-muted-hover);

      &:disabled {
        background: transparent;
        color: var(--sl-fg-base-disabled);
      }
    }
  }

  &:focus-visible {
    & [data-sl-tab-content]:focus-within {
      box-shadow: var(--sl-focus-ring-base);
      background: var(--sl-bg-base-plain-hover);
      color: var(--sl-fg-muted-hover);
    }
  }

  &[aria-selected='true'] {
    border-color: var(--sl-bg-accent-strong);

    & > [data-sl-tab-content] {
      color: var(--sl-fg-accent);
      background: var(--sl-bg-accent-plain);
    }

    &:hover {
      & > [data-sl-tab-content] {
        color: var(--sl-fg-accent-hover);
        background: var(--sl-bg-accent-plain-hover);
      }
    }

    &:focus-visible {
      & [data-sl-tab-content] {
        box-shadow: var(--sl-focus-ring-accent);
        background: var(--sl-bg-accent-plain-hover);
        color: var(--sl-fg-accent);
      }
    }
  }
}
