[data-sl-table-cell] {
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: var(--sl-fg);
  padding: var(--sl-space-2);
  border-bottom: var(--sl-border);
  font: var(--sl-text-body-font);
  letter-spacing: var(--sl-text-body-letter-spacing);
  background: var(--sl-bg);

  &[data-sl-align='start'] {
    text-align: start;
    justify-content: flex-start;
  }
  &[data-sl-align='end'] {
    text-align: end;
    justify-content: flex-end;
  }
}
