@layer sl-components {
  [data-sl-menu-separator] {
    border: none;
    border-bottom: var(--sl-border);
    margin-left: calc(var(--sl-space-4) * -1);
    margin-right: calc(var(--sl-space-4) * -1);
    margin-top: var(--sl-space-2);
    margin-bottom: var(--sl-space-2);
  }
}
