@layer sl-components {
  [data-sl-menu-item] {
    outline: none;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    background: var(--sl-bg-plain);
    color: var(--sl-fg-muted);
    padding: var(--sl-space-2) var(--sl-space-3);
    border-radius: var(--sl-border-radius-medium);
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
    gap: var(--sl-space-2);

    &:hover {
      background: var(--sl-bg-plain-hover);
      color: var(--sl-fg-muted-hover);
    }

    &:active {
      background: var(--sl-bg-plain-pressed);
      color: var(--sl-fg-muted-pressed);
    }

    &:focus-visible {
      box-shadow: var(--sl-focus-ring-accent);
    }

    &[data-critical='true'] {
      color: var(--sl-fg-critical);
      background: var(--sl-bg-critical-plain);

      &:hover {
        color: var(--sl-fg-critical-hover);
        background: var(--sl-bg-critical-plain-hover);
      }

      &:active {
        color: var(--sl-fg-critical-pressed);
        background: var(--sl-bg-critical-plain-pressed);
      }

      &:focus-visible {
        box-shadow: var(--sl-focus-ring-critical);
      }
    }

    &[data-disabled='true'] {
      color: var(--sl-fg-disabled);
      background: var(--sl-bg-plain);
    }
  }
}
