@layer sl-components {
  [data-sl-pagination] {
    color: var(--sl-fg-soft);
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
  }

  [data-sl-pagination-select-popover] {
    margin-top: var(--sl-space-1);
    max-height: 12.75rem;
    overflow-y: auto;
  }

  [data-sl-pagination-actions] {
    display: flex;
    align-items: center;
  }
}
