@layer sl-components {
  [data-sl-pagination] {
    color: var(--sl-fg-soft);
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
  }

  [data-sl-pagination-actions] {
    display: flex;
    align-items: center;
  }

  [data-sl-pagination-size] {
    position: relative;
  }

  [data-sl-pagination-size-select] {
    color: var(--sl-fg-muted);
    border: none;
    border-radius: var(--sl-border-radius-medium);
    background: var(--sl-bg);
    padding: var(--sl-space-1) var(--sl-space-3);
    padding-right: var(--sl-space-8);
    appearance: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: var(--sl-focus-ring);
    }
  }

  [data-sl-pagination-size-select-icon] {
    color: var(--sl-fg-soft);
    position: absolute;
    right: var(--sl-space-3);
    top: var(--sl-space-0);
    bottom: var(--sl-space-0);
    margin: auto;
    pointer-events: none;
  }
}
