@layer sl-components {
  [data-sl-pagination] {
    color: var(--sl-fg-soft);
    font: var(--sl-text-body-font);
    letter-spacing: var(--sl-text-body-letter-spacing);
  }

  [data-sl-pagination-label][data-loading='true'] {
    width: 4.125rem;
    height: 1.25rem;
  }

  [data-sl-pagination-actions] {
    display: flex;
    align-items: center;
  }
}
