.livePre {
  border: var(--sl-border);
  border-radius: var(--sl-border-radius-large);
  margin: var(--sl-space-8) var(--sl-space-0);
  font-family: monospace;
}

.livePreview {
  padding: var(--sl-space-8);
  border-top-right-radius: var(--sl-border-radius-large);
  border-top-left-radius: var(--sl-border-radius-large);
  background: transparent;
}

.liveEditor {
  border-bottom-right-radius: var(--sl-border-radius-large);
  border-bottom-left-radius: var(--sl-border-radius-large);
  border-top: var(--sl-border);
  overflow: hidden;
}

.codeBlock {
  border-radius: var(--sl-border-radius-large);
  padding: var(--sl-space-4);
  margin: var(--sl-space-7) var(--sl-space-0);
  overflow: auto;
}
