@layer sl-tokens {
  :where([data-sl-tab]) {
    --sl-tab-border-width: 0rem 0rem 0.1875rem 0rem;
  }
}

@layer sl-components {
  [data-sl-tab] {
    background: transparent;
    color: var(--sl-fg-muted);
    border-radius: var(--sl-border-radius-none);
    border-width: var(--sl-tab-border-width);
    border-color: transparent;
    border-style: solid;
    font: var(--sl-text-action-font);
    letter-spacing: var(--sl-text-action-letter-spacing);
    padding: var(--sl-space-3);
    outline: none;
    text-decoration: none;

    &:hover {
      color: var(--sl-fg-muted-hover);
      border-color: var(--sl-color-gray-6);
    }

    &:active {
      color: var(--sl-fg-muted-pressed);
      border-color: var(--sl-color-gray-7);
    }

    &:focus-visible {
      box-shadow: var(--sl-focus-ring);
    }

    &[aria-selected='true'] {
      color: var(--sl-fg-accent);
      border-color: var(--sl-bg-accent-strong);

      &:hover {
        color: var(--sl-fg-accent-hover);
        border-color: var(--sl-bg-accent-strong-hover);
      }

      &:active {
        color: var(--sl-fg-accent-pressed);
        border-color: var(--sl-bg-accent-strong-pressed);
      }

      &:focus-visible {
        box-shadow: var(--sl-focus-ring-accent);
      }
    }
  }

  [data-sl-tab-list] {
    display: flex;
    flex-direction: row;
    gap: var(--sl-space-2);
    outline: none;
  }

  [data-sl-tab-panel] {
    padding: var(--sl-space-3);
    outline: none;
    &:focus-visible {
      box-shadow: var(--sl-focus-ring);
    }
  }
}
