# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:16

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn install
      - run: yarn build

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  test:
    parameters:
      package:
        type: string
        default: 'admin-ui'
    docker:
      - image: circleci/node:16

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn install
      - run: yarn build
      - run: yarn workspace @vtex/<<parameters.package>> test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          package: 'admin-ui'
          name: '@vtex/admin-ui test'
          requires:
            - build
      - test:
          package: 'admin-ui-core'
          name: '@vtex/admin-ui-core test'
          requires:
            - build
      - test:
          package: 'admin-ui-react'
          name: '@vtex/admin-ui-react test'
          requires:
            - build
