[data-sl-toast-stack] {
  --sl-c-toast-default-offset: var(--sl-space-10);
  position: fixed;
  z-index: 9999;
  top: var(--sl-c-toast-default-offset);
  left: var(--sl-c-toast-default-offset);
  right: var(--sl-c-toast-default-offset);
  bottom: var(--sl-c-toast-default-offset);
  pointer-events: none;
}
