@layer sl-components {
  [data-sl-simple-table] {
    /* width: 100%; */
    overflow-x: scroll;
  }

  [data-sl-table-row][data-selected='true'] {
    background: var(--sl-bg-muted);
  }

  [data-sl-detail-row] {
    background: var(--sl-bg-muted);
  }

  [data-sl-table-header-cell][data-pined='left'] {
    background: red;
    position: sticky;
    left: 0;
  }

  [data-sl-table-cell][data-pined='left'] {
    background: red;
    position: sticky;
    left: 0;
  }
}
