@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.heroContainer {
  container: hero / inline-size;
  width: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15cqi;
  padding: 4.625rem 0rem;
  width: 100%;
}

.hero h2 {
  font-size: clamp(2.75rem, 7cqi, 3.75rem);
  font-family: var(--ff);
  font-style: normal;
  font-weight: 600;
  line-height: 4.25rem;
  letter-spacing: -0.15rem;
  padding-bottom: 1.5rem;
}

@container (max-width: 40rem) {
  .hero {
    grid-template-columns: 1fr;
  }
}

.subtitle {
  font-family: var(--ff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
  opacity: 0.8;
}

.title {
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: 1.25rem;
}

.feature {
  container: feature / inline-size;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 1.5rem 0.8rem;
  cursor: pointer;
  border-radius: 1.5rem;
}

.feature:hover {
  background: hsla(200, 0%, 0%, 0.05);
}

@media (prefers-color-scheme: dark) {
  .feature:hover {
    background: hsla(200, 100%, 100%, 0.05);
  }
}

.feature:hover .imgBox,
.feature:focus .imgBox {
  transform: scale(1.1);
}

.imgBoxContainer {
  border-radius: 1.5rem;
  width: 100cqi;
  aspect-ratio: 1 / 1;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.imgBox {
  width: 100%;
  height: 100%;
  background-image: var(--img);
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 250ms ease-in-out;
}

.feature h3 {
  padding-bottom: 0.625rem;
  font-family: var(--ff);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  letter-spacing: -0.07rem;
}
