@layer sl-components {
  [data-sl-popover] {
    background: var(--sl-bg);
    border: var(--sl-border);
    box-shadow: var(--sl-shadow-2);
    border-radius: var(--sl-border-radius-medium);
    z-index: var(--sl-z-6);
  }
}
