@layer sl-components {
  [data-sl-icon-button] {
    width: var(--sl-element-height);

    & [data-sl-button-content] > [data-sl-icon]:first-child,
    [data-sl-button-content] > [data-sl-icon-small]:first-child {
      margin: var(--sl-space-0);
    }

    &[data-size='normal'] {
      --sl-element-space-top: var(--sl-space-2);
      --sl-element-space-bottom: var(--sl-space-2);
      --sl-element-space-right: var(--sl-space-2);
      --sl-element-space-left: var(--sl-space-2);
    }

    &[data-size='large'] {
      --sl-element-space-top: var(--sl-space-3);
      --sl-element-space-bottom: var(--sl-space-3);
      --sl-element-space-right: var(--sl-space-3);
      --sl-element-space-left: var(--sl-space-3);
    }
  }
}
