@layer sl-components {
  [data-sl-table-header-cell] {
    text-align: start;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--sl-fg-soft);
    padding: var(--sl-space-2);
    border-bottom: var(--sl-border);
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);

    [data-sl-table-sort-indicator] {
      display: none;
      height: 1.25rem;
      width: 1.25rem;
    }

    &[data-sl-align='start'] {
      justify-content: flex-start;
      [data-sl-table-sort-indicator] {
        margin-left: var(--sl-space-2);
      }
    }
    &[data-sl-align='end'] {
      justify-content: flex-end;
      text-align: end;
      [data-sl-table-sort-indicator] {
        margin-right: var(--sl-space-2);
        order: -1;
      }
    }

    & > * [data-sl-table-sort-indicator-hover] {
      display: none;
    }

    &[data-sortable='true'] {
      &:hover {
        & > * [data-sl-table-sort-indicator-hover][data-sl-sorted='false'] {
          display: block;
        }
      }
      [data-sl-table-sort-indicator] {
        display: block;
      }

      cursor: pointer;
    }
  }
}
