@layer sl-tokens {
  :root {
    --sl-table-default-column-width: minmax(min-content, auto);
  }
}

@layer sl-components {
  [data-sl-table] {
    color: var(--sl-color-fg);
    border-collapse: collapse;
    width: 100%;
    display: grid;
    overflow: auto;
    grid-template-columns: var(--sl-table-grid-template-columns);
    grid-auto-rows: minmax(min-content, auto);

    &[data-sl-table-header-sticky='true'] {
      overflow: unset;

      [data-sl-table-header-cell] {
        color: var(--sl-color-fg);
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }

    &[data-sl-table-sticky-column='true'] {
      > [data-sl-table-header] {
        > [data-sl-table-row] {
          > [data-sl-table-header-cell]:nth-child(1) {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }
      }

      > [data-sl-table-body] {
        > [data-sl-table-row] {
          > [data-sl-table-cell]:nth-child(1) {
            position: sticky;
            left: 0;
          }
        }
      }
    }
  }

  [data-sl-table-header],
  [data-sl-table-body],
  [data-sl-table-row] {
    display: contents;
  }

  [data-sl-table-header-cell],
  [data-sl-table-cell] {
    text-align: start;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--sl-color-fg);
    padding: var(--sl-space-2);
    border-bottom: var(--sl-border);
  }

  [data-sl-table-header] {
    color: var(--sl-color-fg);
  }

  [data-sl-table-header-cell] {
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
  }

  [data-sl-table-body] {
    color: var(--sl-color-fg);
  }

  [data-sl-table-row] {
    color: var(--sl-color-fg);

    &[data-dim-on-hover='true']:hover {
      & > [data-sl-table-cell] {
        background: var(--sl-bg-muted);
      }
    }

    &[data-selected='true'] {
      background: var(--sl-bg-muted);
    }
  }

  [data-sl-table-cell] {
    font: var(--sl-text-body-font);
    letter-spacing: var(--sl-text-body-letter-spacing);
  }
}
