@layer sl-tokens {
  :root {
    --sl-table-default-column-width: minmax(min-content, auto);
  }
}

@layer sl-components {
  [data-sl-table] {
    color: var(--sl-color-fg);
    border-collapse: collapse;
    width: 100%;
    display: grid;
    overflow: auto;
    grid-template-columns: var(--sl-table-grid-template-columns);
    grid-auto-rows: minmax(min-content, auto);
  }

  [data-sl-table-header],
  [data-sl-table-body],
  [data-sl-table-row] {
    display: contents;
  }

  [data-sl-table-header-cell],
  [data-sl-table-cell] {
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--sl-color-fg);
    padding: var(--sl-space-2);
    border-bottom: var(--sl-border);
  }

  [data-sl-table-header] {
    color: var(--sl-color-fg);
  }

  [data-sl-table-header-cell] {
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
  }

  [data-sl-table-body] {
    color: var(--sl-color-fg);
  }

  [data-sl-table-row] {
    color: var(--sl-color-fg);

    &[data-selected='true'] {
      background: var(--sl-bg-muted);
    }
  }

  [data-sl-table-cell] {
    font: var(--sl-text-body-font);
    letter-spacing: var(--sl-text-body-letter-spacing);
  }
}
