@layer sl-components {
  [data-sl-table-header-cell] {
    text-align: start;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--sl-fg-soft);
    padding: var(--sl-space-2);
    border-bottom: var(--sl-border);
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
    & > * [data-sl-table-sort-indicator-hover] {
      display: none;
    }

    &[data-sortable='false'][data-sl-table-sort-indicator] {
      display: none;
    }

    &[data-sortable='true'] {
      &:hover {
        & > * [data-sl-table-sort-indicator-hover][data-sl-sorted='false'] {
          display: block;
        }
      }
      [data-sl-table-sort-indicator] {
        display: block;
        height: 1.25rem;
        width: 1.25rem;
        &[data-sl-align='start'] {
          margin-left: var(--sl-space-2);
        }
        &[data-sl-align='end'] {
          margin-right: var(--sl-space-2);
          order: -1;
        }
      }

      cursor: pointer;
    }
  }
}
