[data-sl-grid-cell] {
  --sl-grid-cell-area: auto;
  --sl-grid-cell-column: auto;
  --sl-grid-cell-row: auto;
  --sl-grid-cell-column-start: auto;
  --sl-grid-cell-column-end: auto;
  --sl-grid-cell-row-start: auto;
  --sl-grid-cell-row-end: auto;

  grid-area: var(--sl-grid-cell-area);
  grid-column: var(--sl-grid-cell-column);
  grid-row: var(--sl-grid-cell-row);
  grid-column-start: var(--sl-grid-cell-column-start);
  grid-column-end: var(--sl-grid-cell-column-end);
  grid-row-start: var(--sl-grid-cell-row-start);
  grid-row-end: var(--sl-grid-cell-row-end);
}
