@layer sl-components {
  [data-sl-date-segment] {
    outline: none;
    padding: var(--sl-space-05);
    border-radius: var(--sl-border-radius-small);
    &:focus-visible {
      box-shadow: var(--sl-focus-ring-accent);
    }
  }
}
