@layer sl-components {
  [data-sl-date-segment] {
    outline: none;
    padding: var(--sl-space-05);
    border-radius: var(--sl-border-radius-small);
    color: var(--sl-fg);
    text-transform: uppercase;

    &:focus {
      background: var(--sl-bg-accent-hover);
    }

    &[data-placeholder='true'] {
      color: var(--sl-fg-soft);
    }
  }
}
