.description {
  color: var(--sl-fg-base-soft);
  font-family: var(--sl-font-family-sans);
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}
