.description {
  color: var(--sl-fg-base-soft);
  font-family: var(--sl-font-family-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.96px;
}
