@layer sl-components {
  [data-sl-link] {
    font: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    color: var(--sl-fg-accent);
    text-decoration: underline;
    outline: none;

    &:focus-visible {
      box-shadow: var(--sl-focus-ring-accent);
      border-radius: var(--sl-border-radius-small);
    }

    &:visited {
      color: var(--sl-fg-accent-pressed);
    }

    &:hover {
      color: var(--sl-fg-accent-hover);
    }

    &:focus {
      color: var(--sl-fg-accent-hover);
    }
  }
}
