@theme sunrise {
  --space-0: 0rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-28: 7rem;
  --space-32: 8rem;
  --space-05: 0.125rem;
  --space-gap: var(--space-4);
  --color-gray-0: #ffffff;
  --color-gray-1: #f5f5f5;
  --color-gray-2: #ebebeb;
  --color-gray-3: #e0e0e0;
  --color-gray-4: #d6d6d6;
  --color-gray-5: #c2c2c2;
  --color-gray-6: #adadad;
  --color-gray-7: #999999;
  --color-gray-8: #858585;
  --color-gray-9: #707070;
  --color-gray-10: #5c5c5c;
  --color-gray-11: #3d3d3d;
  --color-gray-12: #1f1f1f;
  --color-gray-13: #000000;
  --color-red-1: #fdf6f5;
  --color-red-2: #ffedea;
  --color-red-3: #ffdfd9;
  --color-red-4: #ffd0c7;
  --color-red-5: #ffbbad;
  --color-red-6: #ff9e8b;
  --color-red-7: #ff7f68;
  --color-red-8: #f95d47;
  --color-red-9: #ec3727;
  --color-red-10: #d31a15;
  --color-red-11: #b40202;
  --color-red-12: #940303;
  --color-red-13: #720000;
  --color-orange-1: #fdf5e9;
  --color-orange-2: #ffedcd;
  --color-orange-3: #ffe0ae;
  --color-orange-4: #fed392;
  --color-orange-5: #febc64;
  --color-orange-6: #ffa138;
  --color-orange-7: #f78612;
  --color-orange-8: #e57001;
  --color-orange-9: #cc5e01;
  --color-orange-10: #b24d01;
  --color-orange-11: #963e01;
  --color-orange-12: #7b3001;
  --color-orange-13: #622401;
  --color-yellow-1: #fbf7d4;
  --color-yellow-2: #fdf5ad;
  --color-yellow-3: #faec6d;
  --color-yellow-4: #fade1e;
  --color-yellow-5: #e9c701;
  --color-yellow-6: #d8b401;
  --color-yellow-7: #c5a001;
  --color-yellow-8: #b18d01;
  --color-yellow-9: #9c7901;
  --color-yellow-10: #866701;
  --color-yellow-11: #715401;
  --color-yellow-12: #5c4401;
  --color-yellow-13: #493401;
  --color-green-1: #e9fce3;
  --color-green-2: #cefdc0;
  --color-green-3: #aff79e;
  --color-green-4: #97ef86;
  --color-green-5: #74e26c;
  --color-green-6: #4fd051;
  --color-green-7: #28bc37;
  --color-green-8: #08a822;
  --color-green-9: #019213;
  --color-green-10: #017d10;
  --color-green-11: #016810;
  --color-green-12: #01540e;
  --color-green-13: #01410b;
  --color-teal-1: #e9faf8;
  --color-teal-2: #cff8f4;
  --color-teal-3: #abf2eb;
  --color-teal-4: #8deae3;
  --color-teal-5: #66dbd3;
  --color-teal-6: #40cac2;
  --color-teal-7: #10b6af;
  --color-teal-8: #01a29b;
  --color-teal-9: #018d88;
  --color-teal-10: #017873;
  --color-teal-11: #016460;
  --color-teal-12: #0d504d;
  --color-teal-13: #133d3b;
  --color-blue-1: #f1f8fd;
  --color-blue-2: #e1f3ff;
  --color-blue-3: #cbe9ff;
  --color-blue-4: #b6dfff;
  --color-blue-5: #97cffe;
  --color-blue-6: #79bcfb;
  --color-blue-7: #5aa8f7;
  --color-blue-8: #3993f4;
  --color-blue-9: #157bf4;
  --color-blue-10: #0366dd;
  --color-blue-11: #0155b7;
  --color-blue-12: #014592;
  --color-blue-13: #013672;
  --color-purple-1: #f9f5fd;
  --color-purple-2: #f5eafe;
  --color-purple-3: #eddcfe;
  --color-purple-4: #e5cffe;
  --color-purple-5: #dabafd;
  --color-purple-6: #cba3fc;
  --color-purple-7: #bc8afb;
  --color-purple-8: #ad71f8;
  --color-purple-9: #9c56f3;
  --color-purple-10: #883ce6;
  --color-purple-11: #7225d2;
  --color-purple-12: #5c12b6;
  --color-purple-13: #460b93;
  --color-pink-1: #fdf5f7;
  --color-pink-2: #ffebf2;
  --color-pink-3: #ffdfeb;
  --color-pink-4: #ffc8dc;
  --color-pink-5: #feb2cd;
  --color-pink-6: #ff98bf;
  --color-pink-7: #fe78ac;
  --color-pink-8: #ef5997;
  --color-pink-9: #de387f;
  --color-pink-10: #ca226a;
  --color-pink-11: #af0956;
  --color-pink-12: #8f0246;
  --color-pink-13: #74043b;
  --color-cyan-1: #e6fafd;
  --color-cyan-2: #c6f9ff;
  --color-cyan-3: #a5f1ff;
  --color-cyan-4: #89e8fb;
  --color-cyan-5: #61d9f4;
  --color-cyan-6: #34c6e9;
  --color-cyan-7: #13b1db;
  --color-cyan-8: #029dc9;
  --color-cyan-9: #0187b5;
  --color-cyan-10: #0172a0;
  --color-cyan-11: #015e8a;
  --color-cyan-12: #014b74;
  --color-cyan-13: #013a5e;
  --fg-base: var(--color-gray-12);
  --fg-base-soft: var(--color-gray-9);
  --fg-base-disabled: var(--color-gray-7);
  --fg-inverted: var(--color-gray-0);
  --fg-warning: var(--color-yellow-9);
  --fg-success: var(--color-green-9);
  --fg-informational: var(--color-blue-9);
  --fg-muted: var(--color-gray-11);
  --fg-muted-hover: var(--color-gray-12);
  --fg-muted-pressed: var(--color-gray-13);
  --fg-accent: var(--color-blue-10);
  --fg-accent-hover: var(--color-blue-11);
  --fg-accent-pressed: var(--color-blue-12);
  --fg-critical: var(--color-red-9);
  --fg-critical-hover: var(--color-red-10);
  --fg-critical-pressed: var(--color-red-11);
  --bg-base: var(--color-gray-0);
  --bg-base-disabled: color-mix(
    in srgb,
    var(--color-gray-12) 5%,
    transparent
  );
  --bg-base-strong: var(--color-gray-3);
  --bg-base-strong-disabled: var(--color-gray-6);
  --bg-base-soft: var(--color-gray-1);
  --bg-warning: var(--color-yellow-1);
  --bg-success: var(--color-green-1);
  --bg-informational: var(--color-blue-1);
  --bg-inverted: var(--color-gray-12);
  --bg-inverted-strong: color-mix(
    in srgb,
    var(--color-gray-12) 50%,
    transparent
  );
  --bg-muted: color-mix(in srgb, var(--color-gray-12) 5%, transparent);
  --bg-muted-hover: color-mix(
    in srgb,
    var(--color-gray-12) 10%,
    transparent
  );
  --bg-muted-pressed: color-mix(
    in srgb,
    var(--color-gray-12) 15%,
    transparent
  );
  --bg-muted-plain: color-mix(
    in srgb,
    var(--color-gray-12) 0%,
    transparent
  );
  --bg-muted-plain-hover: color-mix(
    in srgb,
    var(--color-gray-12) 5%,
    transparent
  );
  --bg-muted-plain-pressed: color-mix(
    in srgb,
    var(--color-gray-12) 10%,
    transparent
  );
  --bg-accent: var(--color-blue-2);
  --bg-accent-hover: var(--color-blue-3);
  --bg-accent-pressed: var(--color-blue-4);
  --bg-accent-plain: color-mix(
    in srgb,
    var(--color-blue-10) 0%,
    transparent
  );
  --bg-accent-plain-hover: color-mix(
    in srgb,
    var(--color-blue-10) 5%,
    transparent
  );
  --bg-accent-plain-pressed: color-mix(
    in srgb,
    var(--color-blue-10) 10%,
    transparent
  );
  --bg-accent-strong: var(--color-blue-10);
  --bg-accent-strong-hover: var(--color-blue-11);
  --bg-accent-strong-pressed: var(--color-blue-12);
  --bg-critical: var(--color-red-1);
  --bg-critical-plain: color-mix(
    in srgb,
    var(--color-red-9) 0%,
    transparent
  );
  --bg-critical-plain-hover: color-mix(
    in srgb,
    var(--color-red-9) 5%,
    transparent
  );
  --bg-critical-plain-pressed: color-mix(
    in srgb,
    var(--color-red-9) 10%,
    transparent
  );
  --bg-critical-strong: var(--color-red-9);
  --bg-critical-strong-hover: var(--color-red-10);
  --bg-critical-strong-pressed: var(--color-red-11);
  --border-base: 1px solid var(--color-gray-3);
  --border-base-disabled: 1px solid var(--color-gray-6);
  --border-base-strong: 1px solid var(--color-gray-5);
  --border-base-strong-hover: 1px solid var(--color-gray-6);
  --border-success: 1px solid var(--color-green-3);
  --border-informational: 1px solid var(--color-blue-3);
  --border-warning: 1px solid var(--color-yellow-3);
  --border-accent: 1px solid var(--color-blue-3);
  --border-accent-strong: 1px solid var(--color-blue-10);
  --border-accent-strong-hover: 1px solid var(--color-blue-11);
  --border-critical: 1px solid var(--color-red-3);
  --border-critical-strong: 1px solid var(--color-red-8);
  --border-critical-strong-hover: 1px solid var(--color-red-9);
  --radius-0: 0rem;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --radius-full: 9999rem;
  --focus-ring-base: 0rem 0rem 0rem 0.0625rem var(--color-gray-0),
    0rem 0rem 0rem 0.1875rem var(--color-gray-5);
  --focus-ring-critical: 0rem 0rem 0rem 0.0625rem var(--color-gray-0),
    0rem 0rem 0rem 0.1875rem var(--color-red-6);
  --focus-ring-accent: 0rem 0rem 0rem 0.0625rem var(--color-gray-0),
    0rem 0rem 0rem 0.1875rem var(--color-blue-6);
  --shadow-1: 0rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.16);
  --shadow-2: 0rem 1.5rem 3rem 0rem rgba(0, 0, 0, 0.16);
  --z-1: 0;
  --z-2: 100;
  --z-3: 200;
  --z-4: 300;
  --z-5: 400;
  --z-6: 500;
  --z-7: 600;
  --z-8: 700;
  --z-9: 800;
  --z-10: 900;
  --font-family-sans: "Inter", -apple-system, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --letter-spacing-1: 0rem;
  --letter-spacing-2: -0.00875rem;
  --letter-spacing-3: -0.02rem;
  --letter-spacing-4: -0.04rem;
  --line-height-1: 1rem;
  --line-height-2: 1.25rem;
  --line-height-3: 1.5rem;
  --line-height-4: 1.75rem;
  --line-height-5: 2rem;
  --text-caption-1-font: var(--font-weight-medium) var(--font-size-1) /
    var(--line-height-1) var(--font-family-sans);
  --text-caption-1-letter-spacing: var(--letter-spacing-1);
  --text-caption-2-font: var(--font-weight-regular) var(--font-size-1) /
    var(--line-height-1) var(--font-family-sans);
  --text-caption-2-letter-spacing: var(--letter-spacing-1);
  --text-action-font: var(--font-weight-semibold) var(--font-size-2) /
    var(--line-height-2) var(--font-family-sans);
  --text-action-letter-spacing: var(--letter-spacing-2);
  --text-emphasis-font: var(--font-weight-medium) var(--font-size-2) /
    var(--line-height-2) var(--font-family-sans);
  --text-emphasis-letter-spacing: var(--letter-spacing-2);
  --text-body-font: var(--font-weight-regular) var(--font-size-2) /
    var(--line-height-2) var(--font-family-sans);
  --text-body-letter-spacing: var(--letter-spacing-2);
  --text-display-1-font: var(--font-weight-semibold) var(--font-size-5) /
    var(--line-height-5) var(--font-family-sans);
  --text-display-1-letter-spacing: var(--letter-spacing-4);
  --text-display-2-font: var(--font-weight-semibold) var(--font-size-4) /
    var(--line-height-4) var(--font-family-sans);
  --text-display-2-letter-spacing: var(--letter-spacing-4);
  --text-display-3-font: var(--font-weight-semibold) var(--font-size-3) /
    var(--line-height-3) var(--font-family-sans);
  --text-display-3-letter-spacing: var(--letter-spacing-3);
  --text-display-4-font: var(--font-weight-regular) var(--font-size-3) /
    var(--line-height-3) var(--font-family-sans);
  --text-display-4-letter-spacing: var(--letter-spacing-3);
}
