@layer sl-components {
  [data-sl-filter-trigger] {
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
    &[aria-expanded="true"] {
      background: var(--sl-bg-plain-pressed);
      color: var(--sl-fg-muted-pressed);
    }
  }

  [data-sl-filter-value]{
    color: var(--sl-fg-base);
  }
}
