@layer sl-tokens {
  :where([data-sl-filter-popover]) {
    --sl-filter-popover-width: 16rem;
  }
}

@layer sl-components {
  [data-sl-filter-value] {
    margin-left: calc(-1 * var(--sl-space-1));
  }

  [data-sl-filter-popover] {
    width: var(--sl-filter-popover-width);
    padding: 0rem;
  }

  [data-sl-filter-popover-combobox] {
    padding-bottom: 0rem;
    & > [data-sl-search] {
      min-width: unset;
    }
  }

  [data-sl-filter-popover-footer] {
    gap: var(--sl-space-2);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  [data-sl-filter-option] {
    padding: 0rem;
    padding-top: var(--sl-space-2);
    padding-bottom: var(--sl-space-2);

    &:hover {
      background: var(--sl-bg-plain);
      color: var(--sl-fg-muted);
    }

    &[data-active-item]&[data-focus-visible] {
        & [data-sl-filter-option-check] {
          box-shadow: var(--sl-focus-ring);
        }
        & [data-sl-filter-option-check]:has([data-sl-filter-option-check-indicator]) {
          box-shadow: var(--sl-focus-ring-accent);
        }
    }

    &:active, &[data-active-item] {
      background: var(--sl-bg-plain);
      color: var(--sl-fg-muted);
    }
  }
}
