@layer sl-tokens {
  :where([data-sl-filter-option-check]) {
    --sl-filter-option-check-size: 1.25rem;
    --sl-filter-option-check-border-width: 0.0625rem;
  }
}

@layer sl-components {
  [data-sl-filter-option-check] {
    position: relative;
    background: transparent;
    flex-shrink: 0;
    width: var(--sl-filter-option-check-size);
    height: var(--sl-filter-option-check-size);
    border: var(--sl-border-strong);
    border-radius: var(--sl-border-radius-full);
    &[data-multiselect='true'] {
      border-radius: var(--sl-border-radius-small);
    }
  }

  [data-sl-filter-option-check-indicator] {
    flex-shrink: 0;
    position: absolute;
    box-shadow: 0 0 0 var(--sl-filter-option-check-border-width)
      var(--sl-bg-accent-strong);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--sl-bg-accent-strong);
    display: grid;
    place-items: center;
    color: var(--sl-fg-inverted);
    border-radius: var(--sl-border-radius-full);
    &[data-multiselect='true'] {
      border-radius: var(--sl-border-radius-small);
    }
  }

  [data-sl-filter-option-check-radio-center] {
    background: var(--sl-fg-inverted);
    height: calc(var(--sl-filter-option-check-size) / 2);
    width: calc(var(--sl-filter-option-check-size) / 2);
    border-radius: var(--sl-border-radius-full);
  }
}
