@layer sl-tokens {
  :where([data-sl-filter-list]) {
    --sl-filter-list-height: 16rem;
  }
}

@layer sl-components {
  [data-sl-filter-list] {
    max-height: var(--sl-filter-list-height);
    overflow-y: auto;
    overflow-x: hidden;

    &[data-focus-visible],
    &:focus-visible {
      outline: none;
    }

    &[data-sl-combobox-list] {
      padding-top: var(--sl-space-0);
      margin-top: calc(-1 * var(--sl-space-3));
    }
  }
}
