[data-sl-filter-item-check] {
  --sl-filter-item-check-size: 1.25rem;
  --sl-filter-item-check-border-width: 0.0625rem;

  position: relative;
  background: transparent;
  flex-shrink: 0;
  width: var(--sl-filter-item-check-size);
  height: var(--sl-filter-item-check-size);
  border: var(--sl-border-strong);
  border-radius: var(--sl-border-radius-full);
  &[data-multiselect='true'] {
    border-radius: var(--sl-border-radius-small);
  }
  &:focus {
    box-shadow: var(--sl-focus-ring-accent);
  }
}

[data-sl-filter-item-check-indicator] {
  flex-shrink: 0;
  position: absolute;
  box-shadow: 0 0 0 var(--sl-filter-item-check-border-width)
    var(--sl-bg-accent-strong);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--sl-bg-accent-strong);
  display: grid;
  place-items: center;
  color: var(--sl-fg-inverted);
  border-radius: var(--sl-border-radius-full);
  &[data-multiselect='true'] {
    border-radius: var(--sl-border-radius-small);
  }
}

[data-sl-filter-item-check-radio-center] {
  background: var(--sl-fg-inverted);
  height: calc(var(--sl-filter-item-check-size) / 2);
  width: calc(var(--sl-filter-item-check-size) / 2);
  border-radius: var(--sl-border-radius-full);
}
