[data-sl-filter-item] {
  outline: none;
  text-decoration: none;
  justify-content: flex-start;
  display: flex;
  cursor: pointer;
  background: var(--sl-bg-base-plain);
  color: var(--sl-fg-muted);
  padding: var(--sl-space-2) var(--sl-space-3);
  border-radius: var(--sl-border-radius-medium);
  font: var(--sl-text-action-font);
  letter-spacing: var(--sl-text-action-letter-spacing);
  gap: var(--sl-space-2);

  &:hover {
    background: var(--sl-bg-base-plain-hover);
    color: var(--sl-fg-muted-hover);
  }

  &:active {
    background: var(--sl-bg-base-plain-pressed);
    color: var(--sl-fg-muted-pressed);
  }

  &[data-active-item] {
    background: var(--sl-bg-base-plain-pressed);
    color: var(--sl-fg-muted-pressed);
  }
}
