:where([data-sl-page-content]) {
  --sl-page-layout-wide: 100rem;
  --sl-page-layout-standard: 75rem;
  --sl-page-layout-narrow: 50rem;
  --sl-page-layout: var(--sl-page-layout-standard);
}

[data-sl-page-container] {
  container: sl-page-container / inline-size;

  [data-sl-page-content] {
    width: 100%;
    max-width: var(--sl-page-layout);
    margin: var(--sl-space-0) auto var(--sl-space-0) auto;

    &[data-layout='wide'] {
      --sl-page-layout: var(--sl-page-layout-wide);
    }

    &[data-layout='standard'] {
      --sl-page-layout: var(--sl-page-layout-standard);
    }

    &[data-layout='narrow'] {
      --sl-page-layout: var(--sl-page-layout-narrow);
    }

    @container sl-page-container (min-width: 0px) {
      margin-bottom: var(--sl-space-6);
    }

    @container sl-page-container (min-width: 380px) {
      margin-bottom: var(--sl-space-5);
    }

    @container sl-page-container (min-width: 560px) {
      margin-bottom: var(--sl-space-12);
    }

    @container sl-page-container (min-width: 800px) {
      margin-bottom: var(--sl-space-10);
    }
  }
}
