@layer sl-reset, sl-base, sl-tokens, sl-components;
@layer sl-reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}
@layer sl-base {
  body {
    background: var(--sl-bg-primary);
    color: var(--sl-fg-primary);
    font: var(--sl-text-body);
  }
  p {
    font: var(--sl-text-body);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: var(--sl-text-title-1);
  }
  pre,
  code {
    font: var(--sl-text-code);
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@layer sl-tokens {
  :root {
    --sl-space-0: 0rem;
    --sl-space-1: 0.25rem;
    --sl-space-2: 0.5rem;
    --sl-space-3: 0.75rem;
    --sl-space-4: 1rem;
    --sl-space-5: 1.25rem;
    --sl-space-6: 1.5rem;
    --sl-space-7: 1.75rem;
    --sl-space-8: 2rem;
    --sl-space-10: 2.5rem;
    --sl-space-12: 3rem;
    --sl-space-16: 4rem;
    --sl-space-20: 5rem;
    --sl-space-24: 6rem;
    --sl-space-28: 7rem;
    --sl-space-32: 8rem;
    --sl-space-05: 0.125rem;
    --sl-space-gap: var(--sl-space-4);
    --sl-color-gray-0: #ffffff;
    --sl-color-gray-1: #f5f5f5;
    --sl-color-gray-2: #ededed;
    --sl-color-gray-3: #e6e6e6;
    --sl-color-gray-4: #dedede;
    --sl-color-gray-5: #c7c7c7;
    --sl-color-gray-6: #b1b1b1;
    --sl-color-gray-7: #9b9b9b;
    --sl-color-gray-8: #868686;
    --sl-color-gray-9: #717171;
    --sl-color-gray-10: #666666;
    --sl-color-gray-11: #5b5b5b;
    --sl-color-gray-12: #484848;
    --sl-color-gray-13: #303030;
    --sl-color-gray-14: #1d1d1d;
    --sl-color-red-1: #faefed;
    --sl-color-red-2: #fde8e3;
    --sl-color-red-3: #ffddd6;
    --sl-color-red-4: #ffd2c9;
    --sl-color-red-5: #f7b5a7;
    --sl-color-red-6: #ec9887;
    --sl-color-red-7: #df7b67;
    --sl-color-red-8: #d45b45;
    --sl-color-red-9: #ca3a22;
    --sl-color-red-10: #ba2205;
    --sl-color-red-11: #a81b00;
    --sl-color-red-12: #861502;
    --sl-color-red-13: #5a1207;
    --sl-color-orange-1: #fcf3ed;
    --sl-color-orange-2: #f9eadd;
    --sl-color-orange-3: #fbe1cc;
    --sl-color-orange-4: #fbd6b9;
    --sl-color-orange-5: #f3c197;
    --sl-color-orange-6: #e6a66f;
    --sl-color-orange-7: #df914b;
    --sl-color-orange-8: #dc7e0e;
    --sl-color-orange-9: #c87000;
    --sl-color-orange-10: #b56500;
    --sl-color-orange-11: #a35900;
    --sl-color-orange-12: #834600;
    --sl-color-orange-13: #5b3000;
    --sl-color-yellow-1: #fff7eb;
    --sl-color-yellow-2: #ffeccd;
    --sl-color-yellow-3: #ffe6bd;
    --sl-color-yellow-4: #ffda9d;
    --sl-color-yellow-5: #f6c778;
    --sl-color-yellow-6: #e5af4d;
    --sl-color-yellow-7: #db9c00;
    --sl-color-yellow-8: #ca8f00;
    --sl-color-yellow-9: #ba8400;
    --sl-color-yellow-10: #a77600;
    --sl-color-yellow-11: #946800;
    --sl-color-yellow-12: #7b5600;
    --sl-color-yellow-13: #583d00;
    --sl-color-green-1: #f2f6f1;
    --sl-color-green-2: #e7f1e4;
    --sl-color-green-3: #dbecd5;
    --sl-color-green-4: #cfe7c4;
    --sl-color-green-5: #b2d3a4;
    --sl-color-green-6: #98bf83;
    --sl-color-green-7: #7dab64;
    --sl-color-green-8: #62973b;
    --sl-color-green-9: #488409;
    --sl-color-green-10: #3f7700;
    --sl-color-green-11: #386a00;
    --sl-color-green-12: #2e5304;
    --sl-color-green-13: #1d3900;
    --sl-color-teal-1: #ecf8f6;
    --sl-color-teal-2: #ddf3ef;
    --sl-color-teal-3: #caf0e8;
    --sl-color-teal-4: #b6ebdf;
    --sl-color-teal-5: #8cd9ca;
    --sl-color-teal-6: #5bc7b3;
    --sl-color-teal-7: #16b49c;
    --sl-color-teal-8: #0c9c84;
    --sl-color-teal-9: #008570;
    --sl-color-teal-10: #007764;
    --sl-color-teal-11: #006a59;
    --sl-color-teal-12: #005546;
    --sl-color-teal-13: #003a2f;
    --sl-color-blue-1: #f1f5fd;
    --sl-color-blue-2: #e4eefe;
    --sl-color-blue-3: #d9e7ff;
    --sl-color-blue-4: #cae0ff;
    --sl-color-blue-5: #a8c9fb;
    --sl-color-blue-6: #86b3f3;
    --sl-color-blue-7: #669cea;
    --sl-color-blue-8: #3f86e2;
    --sl-color-blue-9: #096ed9;
    --sl-color-blue-10: #0064c3;
    --sl-color-blue-11: #0959ac;
    --sl-color-blue-12: #00478a;
    --sl-color-blue-13: #003060;
    --sl-color-purple-1: #f7f3fc;
    --sl-color-purple-2: #efeafb;
    --sl-color-purple-3: #e9e1fe;
    --sl-color-purple-4: #e1d7ff;
    --sl-color-purple-5: #cbbdf7;
    --sl-color-purple-6: #b6a4ec;
    --sl-color-purple-7: #a18ae2;
    --sl-color-purple-8: #8d70d9;
    --sl-color-purple-9: #7b53d1;
    --sl-color-purple-10: #6f45c6;
    --sl-color-purple-11: #633cb4;
    --sl-color-purple-12: #4d2d94;
    --sl-color-purple-13: #351b6b;
    --sl-color-pink-1: #fcf2f5;
    --sl-color-pink-2: #fce7ed;
    --sl-color-pink-3: #ffdbe8;
    --sl-color-pink-4: #ffcee3;
    --sl-color-pink-5: #f4b0ce;
    --sl-color-pink-6: #e693bc;
    --sl-color-pink-7: #da74a9;
    --sl-color-pink-8: #cc5498;
    --sl-color-pink-9: #be2b86;
    --sl-color-pink-10: #b20c7d;
    --sl-color-pink-11: #a10070;
    --sl-color-pink-12: #80005c;
    --sl-color-pink-13: #59003f;
    --sl-color-cyan-1: #edf7fa;
    --sl-color-cyan-2: #ddf2f9;
    --sl-color-cyan-3: #ccedf6;
    --sl-color-cyan-4: #bae7f3;
    --sl-color-cyan-5: #89d5e8;
    --sl-color-cyan-6: #55c2da;
    --sl-color-cyan-7: #00adca;
    --sl-color-cyan-8: #0096ae;
    --sl-color-cyan-9: #007f94;
    --sl-color-cyan-10: #007385;
    --sl-color-cyan-11: #006775;
    --sl-color-cyan-12: #00525e;
    --sl-color-cyan-13: #003740;
    --sl-fg: var(--sl-color-gray-14);
    --sl-fg-soft: var(--sl-color-gray-10);
    --sl-fg-disabled: var(--sl-color-gray-7);
    --sl-fg-inverted: var(--sl-color-gray-0);
    --sl-fg-warning: var(--sl-color-yellow-9);
    --sl-fg-success: var(--sl-color-green-9);
    --sl-fg-informational: var(--sl-color-blue-9);
    --sl-fg-muted: var(--sl-color-gray-12);
    --sl-fg-muted-hover: var(--sl-color-gray-13);
    --sl-fg-muted-pressed: var(--sl-color-gray-14);
    --sl-fg-accent: var(--sl-color-blue-10);
    --sl-fg-accent-hover: var(--sl-color-blue-11);
    --sl-fg-accent-pressed: var(--sl-color-blue-12);
    --sl-fg-critical: var(--sl-color-red-9);
    --sl-fg-critical-hover: var(--sl-color-red-10);
    --sl-fg-critical-pressed: var(--sl-color-red-11);
    --sl-bg: var(--sl-color-gray-0);
    --sl-bg-disabled: color-mix(
      in srgb,
      var(--sl-color-gray-14) 5%,
      transparent
    );
    --sl-bg-warning: var(--sl-color-yellow-1);
    --sl-bg-success: var(--sl-color-green-1);
    --sl-bg-informational: var(--sl-color-blue-1);
    --sl-bg-strong: var(--sl-color-gray-3);
    --sl-bg-strong-disabled: var(--sl-color-gray-6);
    --sl-bg-inverted: var(--sl-color-gray-14);
    --sl-bg-inverted-plain: color-mix(
      in srgb,
      var(--sl-color-gray-14) 50%,
      transparent
    );
    --sl-bg-muted: var(--sl-color-gray-1);
    --sl-bg-muted-hover: var(--sl-color-gray-2);
    --sl-bg-muted-pressed: var(--sl-color-gray-3);
    --sl-bg-muted-plain: color-mix(
      in srgb,
      var(--sl-color-gray-14) 0%,
      transparent
    );
    --sl-bg-muted-plain-hover: color-mix(
      in srgb,
      var(--sl-color-gray-14) 5%,
      transparent
    );
    --sl-bg-muted-plain-pressed: color-mix(
      in srgb,
      var(--sl-color-gray-14) 10%,
      transparent
    );
    --sl-bg-accent: var(--sl-color-blue-2);
    --sl-bg-accent-hover: var(--sl-color-blue-3);
    --sl-bg-accent-pressed: var(--sl-color-blue-4);
    --sl-bg-accent-plain: color-mix(
      in srgb,
      var(--sl-color-blue-10) 0%,
      transparent
    );
    --sl-bg-accent-plain-hover: color-mix(
      in srgb,
      var(--sl-color-blue-10) 5%,
      transparent
    );
    --sl-bg-accent-plain-pressed: color-mix(
      in srgb,
      var(--sl-color-blue-10) 10%,
      transparent
    );
    --sl-bg-accent-strong: var(--sl-color-blue-10);
    --sl-bg-accent-strong-hover: var(--sl-color-blue-11);
    --sl-bg-accent-strong-pressed: var(--sl-color-blue-12);
    --sl-bg-critical: var(--sl-color-red-1);
    --sl-bg-critical-plain: color-mix(
      in srgb,
      var(--sl-color-red-9) 0%,
      transparent
    );
    --sl-bg-critical-plain-hover: color-mix(
      in srgb,
      var(--sl-color-red-9) 5%,
      transparent
    );
    --sl-bg-critical-plain-pressed: color-mix(
      in srgb,
      var(--sl-color-red-9) 10%,
      transparent
    );
    --sl-bg-critical-strong: var(--sl-color-red-9);
    --sl-bg-critical-strong-hover: var(--sl-color-red-10);
    --sl-bg-critical-strong-pressed: var(--sl-color-red-11);
    --sl-border: 1px solid var(--sl-color-gray-3);
    --sl-border-disabled: 1px solid var(--sl-color-gray-6);
    --sl-border-success: 1px solid var(--sl-color-green-3);
    --sl-border-informational: 1px solid var(--sl-color-blue-3);
    --sl-border-warning: 1px solid var(--sl-color-yellow-3);
    --sl-border-strong: 1px solid var(--sl-color-gray-5);
    --sl-border-strong-hover: 1px solid var(--sl-color-gray-6);
    --sl-border-accent: 1px solid var(--sl-color-blue-3);
    --sl-border-accent-strong: 1px solid var(--sl-color-blue-10);
    --sl-border-accent-strong-hover: 1px solid var(--sl-color-blue-11);
    --sl-border-critical: 1px solid var(--sl-color-red-3);
    --sl-border-critical-strong: 1px solid var(--sl-color-red-8);
    --sl-border-critical-strong-hover: 1px solid var(--sl-color-red-9);
    --sl-border-radius-none: 0rem;
    --sl-border-radius-small: 0.25rem;
    --sl-border-radius-medium: 0.5rem;
    --sl-border-radius-large: 0.75rem;
    --sl-border-radius-full: 100%;
    --sl-focus-ring: 0rem 0rem 0rem 0.0625rem var(--sl-color-gray-0),
      0rem 0rem 0rem 0.1875rem var(--sl-color-gray-5);
    --sl-focus-ring-critical: 0rem 0rem 0rem 0.0625rem var(--sl-color-gray-0),
      0rem 0rem 0rem 0.1875rem var(--sl-color-red-6);
    --sl-focus-ring-accent: 0rem 0rem 0rem 0.0625rem var(--sl-color-gray-0),
      0rem 0rem 0rem 0.1875rem var(--sl-color-blue-6);
    --sl-shadow-1: 0rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.12);
    --sl-shadow-2: 0rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.16);
    --sl-shadow-3: 0rem 1.5rem 3rem 0rem rgba(0, 0, 0, 0.16);
    --sl-z-1: 0;
    --sl-z-2: 100;
    --sl-z-3: 200;
    --sl-z-4: 300;
    --sl-z-5: 400;
    --sl-z-6: 500;
    --sl-z-7: 600;
    --sl-z-8: 700;
    --sl-z-9: 800;
    --sl-z-10: 900;
    --sl-font-family-sans: 'Inter', -apple-system, system-ui, BlinkMacSystemFont,
      sans-serif;
    --sl-font-weight-regular: 400;
    --sl-font-weight-medium: 500;
    --sl-font-weight-semibold: 600;
    --sl-font-size-1: 0.75rem;
    --sl-font-size-2: 0.875rem;
    --sl-font-size-3: 1rem;
    --sl-font-size-4: 1.25rem;
    --sl-font-size-5: 1.5rem;
    --sl-letter-spacing-1: 0em;
    --sl-letter-spacing-2: -0.00875em;
    --sl-letter-spacing-3: -0.02em;
    --sl-letter-spacing-4: -0.04em;
    --sl-line-height-1: 1em;
    --sl-line-height-2: 1.25em;
    --sl-line-height-3: 1.5em;
    --sl-line-height-4: 1.75em;
    --sl-line-height-5: 2em;
    --sl-text-caption-1-font: var(--sl-font-weight-medium) var(--sl-font-size-1) /
      var(--sl-line-height-1) var(--sl-font-family-sans);
    --sl-text-caption-1-letter-spacing: var(--sl-letter-spacing-1);
    --sl-text-caption-2-font: var(--sl-font-weight-regular)
      var(--sl-font-size-1) / var(--sl-line-height-1) var(--sl-font-family-sans);
    --sl-text-caption-2-letter-spacing: var(--sl-letter-spacing-1);
    --sl-text-action-font: var(--sl-font-weight-semibold) var(--sl-font-size-2) /
      var(--sl-line-height-2) var(--sl-font-family-sans);
    --sl-text-action-letter-spacing: var(--sl-letter-spacing-2);
    --sl-text-emphasis-font: var(--sl-font-weight-medium) var(--sl-font-size-2) /
      var(--sl-line-height-2) var(--sl-font-family-sans);
    --sl-text-emphasis-letter-spacing: var(--sl-letter-spacing-2);
    --sl-text-body-font: var(--sl-font-weight-regular) var(--sl-font-size-2) /
      var(--sl-line-height-2) var(--sl-font-family-sans);
    --sl-text-body-letter-spacing: var(--sl-letter-spacing-2);
    --sl-text-display-1-font: var(--sl-font-weight-semibold)
      var(--sl-font-size-5) / var(--sl-line-height-5) var(--sl-font-family-sans);
    --sl-text-display-1-letter-spacing: var(--sl-letter-spacing-4);
    --sl-text-display-2-font: var(--sl-font-weight-semibold)
      var(--sl-font-size-4) / var(--sl-line-height-4) var(--sl-font-family-sans);
    --sl-text-display-2-letter-spacing: var(--sl-letter-spacing-4);
    --sl-text-display-3-font: var(--sl-font-weight-semibold)
      var(--sl-font-size-3) / var(--sl-line-height-3) var(--sl-font-family-sans);
    --sl-text-display-3-letter-spacing: var(--sl-letter-spacing-3);
    --sl-text-display-4-font: var(--sl-font-weight-regular)
      var(--sl-font-size-3) / var(--sl-line-height-3) var(--sl-font-family-sans);
    --sl-text-display-4-letter-spacing: var(--sl-letter-spacing-3);
  }
}
