@layer sl-tokens {
  :where([data-sl-tag]) {
    --sl-border-radius-largest: calc(var(--sl-border-radius-large) * 2);
  }
}

@layer sl-components {
  [data-sl-tag] {
    width: fit-content;
    padding: var(--sl-element-space-top) var(--sl-element-space-right)
      var(--sl-element-space-bottom) var(--sl-element-space-left);
    font: var(--sl-text-body-font);
    letter-spacing: var(--sl-text-body-letter-spacing);
    border-radius: var(--sl-border-radius-largest);

    /* placeholder */
    &[data-variant='gray'] {
      background: var(--sl-color-gray-3);
      color: var(--sl-color-gray-13);
    }

    &[data-size='normal'] {
      --sl-element-space-top: var(--sl-space-1);
      --sl-element-space-right: var(--sl-space-2);
      --sl-element-space-bottom: var(--sl-space-1);
      --sl-element-space-left: var(--sl-space-2);
    }

    &[data-size='large'] {
      --sl-element-space-top: var(--sl-space-2);
      --sl-element-space-right: var(--sl-space-3);
      --sl-element-space-bottom: var(--sl-space-2);
      --sl-element-space-left: var(--sl-space-3);
    }
  }
}
