/* colors */
:root {
  --aui-color--transparent: transparent;
  --aui-color--white: #ffffff;
  --aui-color--black: #000000;

  --aui-color--blue05: #f1f4fc;
  --aui-color--blue10: #dde5f7;
  --aui-color--blue20: #bbcbf0;
  --aui-color--blue30: #96b2f2;
  --aui-color--blue40: #2953b2;
  --aui-color--blue50: #20408c;
  --aui-color--blue60: #172f66;

  --aui-color--lightBlue05: #edf5fb;
  --aui-color--lightBlue10: #deecf7;
  --aui-color--lightBlue20: #b9daf3;
  --aui-color--lightBlue30: #7cbbea;
  --aui-color--lightBlue40: #2978b5;
  --aui-color--lightBlue50: #216090;
  --aui-color--lightBlue60: #143c5c;

  --aui-color--red05: #fbf2f2;
  --aui-color--red10: #f8e3e3;
  --aui-color--red20: #edbaba;
  --aui-color--red30: #f49494;
  --aui-color--red40: #cc3d3d;
  --aui-color--red50: #962828;
  --aui-color--red60: #782020;

  --aui-color--green05: #ecf7ec;
  --aui-color--green10: #dff1e0;
  --aui-color--green20: #aeddb0;
  --aui-color--green30: #83d187;
  --aui-color--green40: #38853c;
  --aui-color--green50: #285f2b;
  --aui-color--green60: #1c431e;

  --aui-color--orange05: #fff5ec;
  --aui-color--orange10: #ffebd7;
  --aui-color--orange20: #ffcd9b;
  --aui-color--orange30: #f5ae70;
  --aui-color--orange40: #d56a00;
  --aui-color--orange50: #a65200;
  --aui-color--orange60: #5c2c00;

  --aui-color--cyan05: #eff9fb;
  --aui-color--cyan10: #d5eff4;
  --aui-color--cyan20: #a4dee9;
  --aui-color--cyan30: #63cbdb;
  --aui-color--cyan40: #1c99a8;
  --aui-color--cyan50: #207883;
  --aui-color--cyan60: #093f46;

  --aui-color--purple05: #f6f3fa;
  --aui-color--purple10: #ede8f4;
  --aui-color--purple20: #d3c4e4;
  --aui-color--purple30: #c6a5ea;
  --aui-color--purple40: #835ab3;
  --aui-color--purple50: #684391;
  --aui-color--purple60: #462d63;

  --aui-color--pink05: #fbf2f5;
  --aui-color--pink10: #f5e0e7;
  --aui-color--pink20: #eab2c4;
  --aui-color--pink30: #f48aab;
  --aui-color--pink40: #da3561;
  --aui-color--pink50: #b1204b;
  --aui-color--pink60: #850d35;

  --aui-color--teal05: #e8f7f3;
  --aui-color--teal10: #cdefe7;
  --aui-color--teal20: #a6e0d2;
  --aui-color--teal30: #66cbb7;
  --aui-color--teal40: #007969;
  --aui-color--teal50: #006053;
  --aui-color--teal60: #00463c;

  --aui-color--gray05: #f4f4f4;
  --aui-color--gray10: #e6e6e6;
  --aui-color--gray20: #dddddd;
  --aui-color--gray30: #b9b9b9;
  --aui-color--gray40: #747474;
  --aui-color--gray50: #545454;
  --aui-color--gray60: #3b3b3b;

  --aui-color--grayTransparent05: rgba(0, 0, 0, 0.05);
  --aui-color--grayTransparent10: rgba(0, 0, 0, 0.1);
  --aui-color--grayTransparent20: rgba(0, 0, 0, 0.2);
  --aui-color--grayTransparent30: rgba(0, 0, 0, 0.3);
  --aui-color--grayTransparent40: rgba(0, 0, 0, 0.4);
  --aui-color--grayTransparent50: rgba(0, 0, 0, 0.5);
  --aui-color--grayTransparent60: rgba(0, 0, 0, 0.6);
  --aui-color--grayTransparent70: rgba(0, 0, 0, 0.7);
  --aui-color--grayTransparent80: rgba(0, 0, 0, 0.8);
  --aui-color--grayTransparent90: rgba(0, 0, 0, 0.9);
}
