/* z--index, z */
:root {
  --aui-z--1: 0;
  --aui-z--2: 100;
  --aui-z--3: 200;
  --aui-z--4: 300;
  --aui-z--5: 400;
  --aui-z--6: 500;
  --aui-z--7: 600;
  --aui-z--8: 700;
  --aui-z--9: 800;
  --aui-z--10: 900;
}
