[data-sl-alert] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--sl-space-4) var(--sl-space-3) var(--sl-space-4)
    var(--sl-space-5);
  border-radius: var(--sl-border-radius-medium);

  & [data-sl-alert-icon-container] {
    flex-shrink: 0;
    margin-inline-end: var(--sl-space-3);
  }

  & [data-sl-text] {
    max-width: 45rem;
  }

  & [data-sl-alert-container] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: var(--sl-space-7);

    font: var(--sl-text-emphasis-font);
    color: var(--sl-fg);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);

    & > [data-sl-text] {
      font: var(--sl-text-emphasis-font);
      letter-spacing: var(--sl-text-emphasis-letter-spacing);
    }
  }

  & [data-sl-button] {
    margin-top: calc(var(--sl-space-2) * -1);
    margin-bottom: calc(var(--sl-space-2) * -1);
  }

  & [data-sl-alert-dismiss-container] {
    display: flex;
    align-items: flex-start;
  }

  &[data-variant='informational'] {
    background: var(--sl-bg-informational);
    border: var(--sl-border-informational);

    & [data-sl-icon-fill] {
      color: var(--sl-fg-informational);
    }
  }

  &[data-variant='success'] {
    background: var(--sl-bg-success);
    border: var(--sl-border-success);

    & [data-sl-icon-fill] {
      color: var(--sl-fg-success);
    }
  }

  &[data-variant='critical'] {
    background: var(--sl-bg-critical);
    border: var(--sl-border-critical);

    & [data-sl-icon-fill] {
      color: var(--sl-fg-critical);
    }
  }

  &[data-variant='warning'] {
    background: var(--sl-bg-warning);
    border: var(--sl-border-warning);

    & [data-sl-icon-fill] {
      color: var(--sl-fg-warning);
    }
  }
}
