[data-sl-date-range-picker] {
  display: inline-flex;
  flex-direction: column;
}

[data-sl-date-range-picker-group] {
  height: 2.75rem;
  width: 100%;
  font: var(--sl-text-body-font);
  letter-spacing: var(--sl-text-body-letter-spacing);
  border-radius: var(--sl-border-radius-medium);
  display: flex;
  align-items: center;
  border: var(--sl-border-base-strong);

  &:hover {
    border: var(--sl-border-base-strong-hover);
  }

  &:has(:focus-visible) {
    box-shadow: var(--sl-focus-ring-base);
    border: var(--sl-border-base-strong-hover);
  }
}

[data-sl-date-range-picker-icon-button] {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-left: var(--sl-border-base);
}
