[data-sl-input] {
  height: 2.75rem;
  width: 100%;
  font: var(--sl-text-body-font);
  letter-spacing: var(--sl-text-body-letter-spacing);
  border-radius: var(--sl-border-radius-medium);
  display: flex;
  align-items: center;
  border: var(--sl-border-strong);

  &:hover {
    border: var(--sl-border-strong-hover);
  }

  &:focus-within {
    box-shadow: var(--sl-focus-ring);
    border: var(--sl-border-strong-hover);
  }

  &[data-error='true'] {
    border: var(--sl-border-critical-strong);

    &:hover {
      border: var(--sl-border-critical-strong-hover);
    }
    &:focus-within {
      box-shadow: var(--sl-focus-ring-critical);
      border: var(--sl-border-critical-strong-hover);
    }
  }

  &[data-disabled='true'] {
    border: var(--sl-border-disabled);
    color: var(--sl-fg-disabled);
    background-color: var(--sl-bg-disabled);
  }

  & > [data-sl-slot='term'] {
    padding: var(--sl-space-3) var(--sl-space-4);
    height: 100%;

    &[data-type='prefix'] {
      border-right: var(--sl-border);
    }

    &[data-type='suffix'] {
      border-left: var(--sl-border);
    }
  }

  & > [data-sl-input-element] {
    padding-left: var(--sl-space-4);
    padding-right: var(--sl-space-4);
    width: 100%;
    border: none;
    background-color: unset;
    &:focus {
      outline: none;
    }
  }
}
