[data-sl-popover] {
  background: var(--sl-bg);
  border: var(--sl-border);
  box-shadow: var(--sl-shadow-1);
  border-radius: var(--sl-border-radius-medium);
  z-index: var(--sl-z-6);
  /* ideally we should be using Content to handle the padding */
  /* but Container/Content don't seem to work in this case as documented on https://github.com/vtex/shoreline/issues/1338 */
  padding: var(--sl-space-6);
}
