[data-sl-tag] {
  --sl-border-radius-largest: calc(var(--sl-border-radius-large) * 2);

  width: fit-content;
  padding: var(--sl-element-space-top) var(--sl-element-space-right)
    var(--sl-element-space-bottom) var(--sl-element-space-left);
  border-radius: var(--sl-border-radius-largest);
  border: 0.125rem solid var(--sl-color-gray-0);
  font: var(--sl-element-font);
  letter-spacing: var(--sl-element-letter-spacing);

  &[data-variant='primary'] {
    background-color: var(--sl-element-bg-primary);
    color: var(--sl-fg-inverted);
  }

  &[data-variant='secondary'] {
    background-color: var(--sl-element-bg-secondary);
    color: var(--sl-fg);
  }

  &[data-size='normal'] {
    --sl-element-space-top: var(--sl-space-1);
    --sl-element-space-right: var(--sl-space-3);
    --sl-element-space-bottom: var(--sl-space-1);
    --sl-element-space-left: var(--sl-space-3);
    --sl-element-font: var(--sl-text-caption-1-font);
    --sl-element-letter-spacing: var(--sl-text-caption-1-letter-spacing);
  }

  &[data-size='large'] {
    --sl-element-space-top: var(--sl-space-1);
    --sl-element-space-right: var(--sl-space-3);
    --sl-element-space-bottom: var(--sl-space-1);
    --sl-element-space-left: var(--sl-space-3);
    --sl-element-font: var(--sl-text-emphasis-font);
    --sl-element-letter-spacing: var(--sl-text-emphasis-letter-spacing);
  }

  &[data-color='red'] {
    --sl-element-bg-primary: var(--sl-color-red-10);
    --sl-element-bg-secondary: var(--sl-color-red-3);
  }

  &[data-color='yellow'] {
    --sl-element-bg-primary: var(--sl-color-yellow-10);
    --sl-element-bg-secondary: var(--sl-color-yellow-3);
  }

  &[data-color='orange'] {
    --sl-element-bg-primary: var(--sl-color-orange-10);
    --sl-element-bg-secondary: var(--sl-color-orange-3);
  }

  &[data-color='pink'] {
    --sl-element-bg-primary: var(--sl-color-pink-10);
    --sl-element-bg-secondary: var(--sl-color-pink-3);
  }

  &[data-color='purple'] {
    --sl-element-bg-primary: var(--sl-color-purple-10);
    --sl-element-bg-secondary: var(--sl-color-purple-3);
  }

  &[data-color='blue'] {
    --sl-element-bg-primary: var(--sl-color-blue-10);
    --sl-element-bg-secondary: var(--sl-color-blue-3);
  }

  &[data-color='cyan'] {
    --sl-element-bg-primary: var(--sl-color-cyan-10);
    --sl-element-bg-secondary: var(--sl-color-cyan-3);
  }

  &[data-color='teal'] {
    --sl-element-bg-primary: var(--sl-color-teal-10);
    --sl-element-bg-secondary: var(--sl-color-teal-3);
  }

  &[data-color='green'] {
    --sl-element-bg-primary: var(--sl-color-green-10);
    --sl-element-bg-secondary: var(--sl-color-green-3);
  }

  &[data-color='gray'] {
    --sl-element-bg-primary: var(--sl-color-gray-10);
    --sl-element-bg-secondary: var(--sl-color-gray-3);
  }
}
