@import 'navbar.scss';
@import 'sidebar.scss';
@import 'markdown.scss';

@font-face {
  font-family: 'VTEX Trust';
  src: url('../../static/VTEXTrust-VF.woff2') format('woff2');
}

:root {
  --ifm-font-family-base: 'VTEX Trust', -apple-system, system-ui,
    BlinkMacSystemFont, sans-serif !important;
  --ifm-color-primary: #da3461;
  --ifm-color-primary-dark: #b1204c;
  --ifm-color-primary-darker: #870d36;
  --ifm-color-primary-darkest: #870d36;
  --ifm-color-primary-light: #f48aac;
  --ifm-color-primary-lighter: #f5e0e7;
  --ifm-color-primary-lightest: #fbf3f6;
  --ifm-code-font-size: 95%;
  --ifm-pre-background: #ffffff;
  --ifm-toc-border-color: #e6e6e6;
  --ifm-z-index-fixed: 1000;
}

body {
  line-height: inherit !important;
}

.row .col {
  --ifm-spacing-horizontal: 3rem;
}

h1:first-child {
  display: none;
}

.theme-doc-breadcrumbs {
  display: none;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);

  html[data-theme='dark'] & {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 997px) {
  main {
    margin-top: -171px;
    padding-top: 0;
  }

  aside {
    height: calc(100% + 376px);
  }

  .container {
    padding-top: 0 !important;
    padding-bottom: 8rem !important;
  }
}
