:root {
  --docsearch-muted-color: #545454 !important;
  --docsearch-searchbox-background: #f4f4f4 !important;
  --ifm-color-emphasis-600: #000000;
}

.navbar {
  z-index: 99999999;
  box-shadow: none;
  border-bottom: 1px solid #DDDDDD;
  font-size: 1rem;

  .navbar__title {
    font-size: 1.2rem;
  }

  .navbar__link {
    font-size: 1rem;
    color: #545454;
  }

  .navbar__link--active {
    color: var(--ifm-navbar-link-hover-color) !important;
  }

  .navbar__brand {
    transform: scale(0.9);
  }

}

.navbar .DocSearch-Button {
  border-radius: 4px;
  padding: 10px 12px;

  &-Key:first-child {
    text-indent: -9999px;

    &:before {
      content: '';
      background: url('../../static/img/command.svg') 50%/1rem 1rem;
      height: 16px;
      width: 12.6px;
    }
  }
}