:root {
  --docsearch-muted-color: #545454 !important;
  --docsearch-searchbox-background: #f4f4f4 !important;
  --ifm-color-emphasis-600: #000000;
}

.navbar {
  z-index: 99999999;
}

.navbar .DocSearch-Button {
  border-radius: 4px;
  padding: 10px 12px;

  &-Key:first-child {
    text-indent: -9999px;

    &:before {
      content: '';
      background: url('../../static/img/command.svg') 50%/1rem 1rem;
      height: 16px;
      width: 12.6px;
    }
  }
}