.ph-with-tabs {
    padding-bottom: var(--sl-space-5);
}

.ph-tab-list {
    margin-top: var(--sl-space-4);
    overflow: auto;
}

.ph-decorative-box {
    background-clip: padding-box;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.ph-header-element {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}