@layer sl-components {
  [data-sl-field] {
    display: inline-flex;
    flex-direction: column;
    width: fit-content;

    & > [data-sl-slot] {
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      gap: var(--sl-space-3);
    }

    &[data-space='normal'] {
      gap: var(--sl-space-1);
    }

    &[data-space='large'] {
      gap: var(--sl-space-3);
    }
  }
}
