@layer sl-components {
  [data-sl-field-label] {
    grid-area: label;
    margin-left: var(--sl-element-horizontal-gap);
    margin-bottom: var(--sl-element-vertical-gap);
    color: var(--sl-element-label-color);
    display: flex;
    align-items: center;
    font: var(--sl-text-body-font);
    letter-spacing: var(--sl-text-body-letter-spacing);

    &[data-disabled='true'] {
      color: var(--sl-fg-disabled);
    }
  }
}
