@layer sl-components {
  [data-sl-field-message] {
    grid-area: message;
    margin-left: var(--sl-element-horizontal-gap);
    margin-top: var(--sl-element-vertical-gap);
  }

  [data-sl-field-message-text] {
    color: var(--sl-fg);
    font: var(--sl-text-caption-2-font);
    letter-spacing: var(--sl-text-caption-2-letter-spacing);
  }

  [data-sl-field-message-text][role='alert'] {
    color: var(--sl-fg-critical);
  }
}
