@layer sl-components {
  [data-sl-container] {
    container: sl-container / inline-size;
  }

  @container sl-container (min-width: 0px) {
    [data-sl-content] {
      --sl-content-space-horizontal: var(--sl-space-4);
      --sl-content-space-vertical: var(--sl-space-4);
      &[data-narrow='true'] {
        --sl-content-space-vertical: var(--sl-space-3);
      }
    }
  }

  @container sl-container (min-width: 240px) {
    [data-sl-content] {
      --sl-content-space-horizontal: var(--sl-space-6);
      --sl-content-space-vertical: var(--sl-space-6);
      &[data-narrow='true'] {
        --sl-content-space-vertical: var(--sl-space-5);
      }
    }
  }

  @container sl-container (min-width: 380px) {
    [data-sl-content] {
      --sl-content-space-horizontal: var(--sl-space-7);
      --sl-content-space-vertical: var(--sl-space-7);
      &[data-narrow='true'] {
        --sl-content-space-vertical: var(--sl-space-6);
      }
    }
  }

  @container sl-container (min-width: 560px) {
    [data-sl-content] {
      --sl-content-space-horizontal: var(--sl-space-8);
      --sl-content-space-vertical: var(--sl-space-8);
      &[data-narrow='true'] {
        --sl-content-space-vertical: var(--sl-space-7);
      }
    }
  }

  @container sl-container (min-width: 800px) {
    [data-sl-content] {
      --sl-content-space-horizontal: var(--sl-space-10);
      --sl-content-space-vertical: var(--sl-space-10);
      &[data-narrow='true'] {
        --sl-content-space-vertical: var(--sl-space-8);
      }
    }
  }

  [data-sl-content] {
    padding: var(--sl-content-space-vertical) var(--sl-content-space-horizontal);
  }
}
