@layer tokens {
  :root {
    --sl-bg-primary: pink;
    --sl-fg-primary: black;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --sl-bg-primary: black;
      --sl-fg-primary: pink;
    }
  }
}
