[data-sl-date-picker] {
  display: inline-flex;
}

[data-sl-date-picker-input] {
  --sl-datepicker-min-width: 20rem;
  --sl-datepicker-height: 2.75rem;

  display: inline-flex;
  height: var(--sl-datepicker-height);
  min-width: var(--sl-datepicker-min-width);
  font: var(--sl-text-action-font);
  letter-spacing: var(--sl-text-action-letter-spacing);
  border-radius: var(--sl-border-radius-medium);
  border: var(--sl-border-base-strong);
  padding: var(--sl-space-2) var(--sl-space-3);
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &:hover {
    border: var(--sl-border-base-strong-hover);
  }

  &:focus-within {
    box-shadow: var(--sl-focus-ring-base);
    border: var(--sl-border-base-strong-hover);
  }

  &[data-error='true'] {
    border: var(--sl-border-critical-strong);

    &:hover {
      border: var(--sl-border-critical-strong-hover);
    }
    &:focus-within {
      box-shadow: var(--sl-focus-ring-critical);
      border: var(--sl-border-critical-strong-hover);
    }
  }

  &[data-disabled='true'] {
    border: var(--sl-border-base-disabled);
    color: var(--sl-fg-base-disabled);
    background-color: var(--sl-bg-base-disabled);
  }

  &:focus {
    outline: none;
  }
}
