@layer sl-components {
  [data-sl-modal-header] {
    position: sticky;
    top: 0;
    background: var(--sl-bg);
  }

  [data-sl-modal-title] {
    font: var(--sl-text-display-2-font);
    letter-spacing: var(--sl-text-display-2-letter-spacing);
  }
}
