[data-sl-table-row] {
  display: contents;
  color: var(--sl-fg-base);

  &[data-selected='true'] {
    & > [data-sl-table-cell] {
      background: var(--sl-bg-accent);
    }
  }

  &[data-dim-on-hover='true']:hover {
    &[data-selected='false'] {
      & > [data-sl-table-cell] {
        background: var(--sl-bg-muted);
      }
    }
  }
}
