[data-sl-checkbox] {
  --sl-checkbox-size: 1.25rem;

  color: var(--sl-fg-base);
  height: var(--sl-checkbox-size);
  display: flex;
  width: fit-content;

  & > [data-sl-text] {
    user-select: none;
  }
}

[data-sl-checkbox-label] {
  margin-left: var(--sl-space-2);

  &[data-disabled='true'] {
    color: var(--sl-fg-base-disabled);
  }
}

[data-sl-checkbox-input] {
  flex-shrink: 0;
  position: relative;
  background: var(--sl-bg-base);
  width: var(--sl-checkbox-size);
  height: var(--sl-checkbox-size);
  border: var(--sl-border-base-strong);
  border-radius: var(--sl-border-radius-small);
  color: var(--sl-fg-inverted);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border: var(--sl-border-base-strong-hover);
  }

  &[data-indeterminate='true'] {
    color: var(--sl-fg-base);
  }

  &[data-focus-visible='true'] {
    box-shadow: var(--sl-focus-ring-base);
    border: var(--sl-border-base-strong-hover);
  }

  &[data-disabled='true'] {
    color: var(--sl-fg-base-disabled);
    background: var(--sl-bg-base-disabled);
    border: var(--sl-border-base-disabled);
  }

  &[data-disabled='false'] {
    &[data-checked='true'] {
      background: var(--sl-bg-accent-strong);
      border: var(--sl-border-accent-strong);

      &:hover {
        border: var(--sl-border-accent-strong-hover);
        background: var(--sl-bg-accent-strong-hover);
      }

      &:active {
        background: var(--sl-bg-accent-strong-pressed);
      }

      &[data-focus-visible='true'] {
        box-shadow: var(--sl-focus-ring-accent);
        border: var(--sl-border-accent-strong-hover);
      }
    }
  }
}
