.page-content {
  flex-grow: 1;
}

.generic-content {
  height: 100%;
  width: 100%;
  background-color: var(--sl-bg-muted);
}

.card-like-component {
  border: var(--sl-border);
  border-radius: var(--sl-border-radius-medium);
  height: 15rem;
  margin: 1rem;
}
