[data-sl-calendar-cell] {
  padding: 0rem;
}

[data-sl-calendar-cell-button] {
  width: 100%;
  height: 100%;

  &[data-selected='true'] {
    background: var(--sl-bg-accent);
    color: var(--sl-fg-accent);
    border-radius: 0rem;

    &:hover,
    &:focus {
      background: var(--sl-bg-accent-hover);
      color: var(--sl-fg-accent-hover);
    }

    &:active {
      background: var(--sl-bg-accent-pressed);
      color: var(--sl-fg-accent-pressed);
    }

    &:focus-visible {
      box-shadow: var(--sl-focus-ring-accent);
    }

    &:is([data-selection-start='true']) {
      border-top-left-radius: var(--sl-border-radius-medium);
      border-bottom-left-radius: var(--sl-border-radius-medium);
    }

    &:is([data-selection-end='true']) {
      border-top-right-radius: var(--sl-border-radius-medium);
      border-bottom-right-radius: var(--sl-border-radius-medium);
    }

    &:is([data-selection-start='true']),
    &:is([data-selection-end='true']) {
      background: var(--sl-bg-accent-strong);
      color: var(--sl-fg-inverted);

      &:hover,
      &:focus {
        background: var(--sl-bg-accent-strong-hover);
        color: var(--sl-fg-inverted);
      }

      &:active {
        background: var(--sl-bg-accent-strong-pressed);
        color: var(--sl-fg-inverted);
      }

      &:focus-visible {
        box-shadow: var(--sl-focus-ring-accent);
      }
    }
  }
}
