.decorativeBox {
  --sl-local-height: 100%;
  --sl-local-bg: var(--sl-color-gray-3);
  --sl-local-bc: var(--sl-color-gray-6);

  height: var(--sl-local-height);
  width: 100%;
  background-clip: padding-box;
  background-color: var(--sl-local-bg);
  border: 1px solid var(--sl-local-bc);
  border-radius: var(--sl-border-radius-medium);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
