[data-sl-toast-stack] {
  --sl-c-toast-default-offset: var(--sl-space-10);
  position: fixed;
  z-index: 9999;
  top: var(--sl-c-toast-default-offset);
  left: var(--sl-c-toast-default-offset);
  right: var(--sl-c-toast-default-offset);
  bottom: var(--sl-c-toast-default-offset);
  pointer-events: none;
}

[data-sl-toast] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--sl-space-0) var(--sl-space-3);
  color: var(--sl-fg-base);
  padding: var(--sl-space-4) var(--sl-space-5);
  width: 22.5rem;
  border-radius: var(--sl-radius-2);
  box-shadow: var(--sl-shadow-2);

  & [data-sl-toast-icon-container] {
    flex-shrink: 0;
    font: var(--sl-text-emphasis-font);
    letter-spacing: var(--sl-text-emphasis-letter-spacing);
  }

  & [data-sl-toast-container] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--sl-space-2);
  }

  & [data-sl-toast-actions] {
    margin-top: calc(var(--sl-space-2) * -1);
    margin-bottom: calc(var(--sl-space-2) * -1);
    display: flex;
    align-items: flex-start;
  }

  & [data-variant='informational'] {
    background: var(--sl-bg-informational);
    border: var(--sl-border-informational);

    & [data-sl-toast-icon-container] {
      color: var(--sl-fg-informational);
    }
  }

  &[data-variant='informational'] {
    background: var(--sl-bg-informational);
    border: var(--sl-border-informational);

    & [data-sl-toast-icon-container] {
      color: var(--sl-fg-informational);
    }
  }

  &[data-variant='success'] {
    background: var(--sl-bg-success);
    border: var(--sl-border-success);

    & [data-sl-toast-icon-container] {
      color: var(--sl-fg-success);
    }
  }

  &[data-variant='critical'] {
    background: var(--sl-bg-critical);
    border: var(--sl-border-critical);

    & [data-sl-toast-icon-container] {
      color: var(--sl-fg-critical);
    }
  }

  &[data-variant='warning'] {
    background: var(--sl-bg-warning);
    border: var(--sl-border-warning);

    & [data-sl-toast-icon-container] {
      color: var(--sl-fg-warning);
    }
  }
}

[data-sl-toast-appear] {
  left: 0;
  right: 0;
  display: flex;
  position: absolute;
  transition: all 230ms cubic-bezier(0.21, 1.02, 0.73, 1);
  opacity: 0;

  &[data-visible='true'] {
    opacity: 1;
    z-index: calc(9999 - var(--sl-toast-index));
    > * {
      pointer-events: auto;
    }
  }
}

@media (prefers-reduced-motion) {
  [data-sl-toast-appear] {
    transition: none;
  }
}
