@layer sl-components {
  /* [data-sl-combobox] {
    color: var(--sl-color-fg);
  }

  [data-sl-combobox-item] {
    color: var(--sl-color-fg);
  }

  [data-sl-combobox] {
    color: var(--sl-color-fg);
  } */
}
