@layer sl-tokens {
  :root {
    --sl-bp-mobile: 40em;
    --sl-bp-tablet: 48em;
    --sl-bp-desktop: 64em;
    --sl-bp-widescreen: 75em;
    --sl-space-0: 0rem;
    --sl-space-1: .25rem;
    --sl-space-2: .5rem;
    --sl-space-3: .75rem;
    --sl-space-4: 1rem;
    --sl-space-5: 1.25rem;
    --sl-space-6: 1.5rem;
    --sl-space-7: 1.75rem;
    --sl-space-8: 2rem;
    --sl-space-10: 2.5rem;
    --sl-space-12: 3rem;
    --sl-space-16: 4rem;
    --sl-space-20: 5rem;
    --sl-space-24: 6rem;
    --sl-space-28: 7rem;
    --sl-space-32: 8rem;
    --sl-space-05: .125rem;
    --sl-color-transparent: transparent;
    --sl-color-white: #fff;
    --sl-color-black: #000;
    --sl-color-blue-50: #f1f4fc;
    --sl-color-blue-100: #dde5f7;
    --sl-color-blue-200: #bbcbf0;
    --sl-color-blue-300: #96b2f2;
    --sl-color-blue-400: #2953b2;
    --sl-color-blue-500: #20408c;
    --sl-color-blue-600: #172f66;
    --sl-color-light-blue-50: #edf5fb;
    --sl-color-light-blue-100: #deecf7;
    --sl-color-light-blue-200: #b9daf3;
    --sl-color-light-blue-300: #7cbbea;
    --sl-color-light-blue-400: #2978b5;
    --sl-color-light-blue-500: #216090;
    --sl-color-light-blue-600: #143c5c;
    --sl-color-red-50: #fbf2f2;
    --sl-color-red-100: #f8e3e3;
    --sl-color-red-200: #edbaba;
    --sl-color-red-300: #f49494;
    --sl-color-red-400: #cc3d3d;
    --sl-color-red-500: #962828;
    --sl-color-red-600: #782020;
    --sl-color-green-50: #ecf7ec;
    --sl-color-green-100: #dff1e0;
    --sl-color-green-200: #aeddb0;
    --sl-color-green-300: #83d187;
    --sl-color-green-400: #38853c;
    --sl-color-green-500: #285f2b;
    --sl-color-green-600: #1c431e;
    --sl-color-orange-50: #fff5ec;
    --sl-color-orange-100: #ffebd7;
    --sl-color-orange-200: #ffcd9b;
    --sl-color-orange-300: #f5ae70;
    --sl-color-orange-400: #d56a00;
    --sl-color-orange-500: #a65200;
    --sl-color-orange-600: #5c2c00;
    --sl-color-cyan-50: #eff9fb;
    --sl-color-cyan-100: #d5eff4;
    --sl-color-cyan-200: #a4dee9;
    --sl-color-cyan-300: #63cbdb;
    --sl-color-cyan-400: #1c99a8;
    --sl-color-cyan-500: #207883;
    --sl-color-cyan-600: #093f46;
    --sl-color-purple-50: #f6f3fa;
    --sl-color-purple-100: #ede8f4;
    --sl-color-purple-200: #d3c4e4;
    --sl-color-purple-300: #c6a5ea;
    --sl-color-purple-400: #835ab3;
    --sl-color-purple-500: #684391;
    --sl-color-purple-600: #462d63;
    --sl-color-pink-50: #fbf2f5;
    --sl-color-pink-100: #f5e0e7;
    --sl-color-pink-200: #eab2c4;
    --sl-color-pink-300: #f48aab;
    --sl-color-pink-400: #da3561;
    --sl-color-pink-500: #b1204b;
    --sl-color-pink-600: #850d35;
    --sl-color-teal-50: #e8f7f3;
    --sl-color-teal-100: #cdefe7;
    --sl-color-teal-200: #a6e0d2;
    --sl-color-teal-300: #66cbb7;
    --sl-color-teal-400: #007969;
    --sl-color-teal-500: #006053;
    --sl-color-teal-600: #00463c;
    --sl-color-gray-50: #f4f4f4;
    --sl-color-gray-100: #e6e6e6;
    --sl-color-gray-200: #ddd;
    --sl-color-gray-300: #b9b9b9;
    --sl-color-gray-400: #747474;
    --sl-color-gray-500: #545454;
    --sl-color-gray-600: #3b3b3b;
    --sl-color-gray-transparent-50: #0000000d;
    --sl-color-gray-transparent-100: #0000001a;
    --sl-color-gray-transparent-200: #0003;
    --sl-color-gray-transparent-300: #0000004d;
    --sl-color-gray-transparent-400: #0006;
    --sl-color-gray-transparent-500: #00000080;
    --sl-color-gray-transparent-600: #0009;
    --sl-color-gray-transparent-700: #000000b3;
    --sl-color-gray-transparent-800: #000c;
    --sl-color-gray-transparent-900: #000000e6;
    --sl-bg-primary: var(--sl-color-white);
    --sl-bg-secondary: var(--sl-color-gray-50);
    --sl-bg-disabled: var(--sl-color-gray-100);
    --sl-bg-positive: var(--sl-color-green-100);
    --sl-bg-critical: var(--sl-color-red-100);
    --sl-bg-warning: var(--sl-color-orange-100);
    --sl-bg-info: var(--sl-color-light-blue-100);
    --sl-bg-inverted: var(--sl-color-black);
    --sl-bg-overlay: var(--sl-color-gray-transparent-500);
    --sl-bg-skeleton: linear-gradient(90deg, transparent, var(--sl-color-gray-100, ) transparent);
    --sl-bg-action-neutral-secondary: var(--sl-color-gray-50);
    --sl-bg-action-neutral-secondary-hover: var(--sl-color-gray-100);
    --sl-bg-action-neutral-secondary-pressed: var(--sl-color-gray-200);
    --sl-bg-action-neutral-tertiary: transparent;
    --sl-bg-action-neutral-tertiary-hover: var(--sl-color-gray-transparent-50);
    --sl-bg-action-neutral-tertiary-pressed: var(--sl-color-gray-transparent-100);
    --sl-bg-action-main-primary: var(--sl-color-blue-400);
    --sl-bg-action-main-primary-hover: var(--sl-color-blue-500);
    --sl-bg-action-main-primary-pressed: var(--sl-color-blue-600);
    --sl-bg-action-main-secondary: var(--sl-color-blue-100);
    --sl-bg-action-main-secondary-hover: var(--sl-color-blue-200);
    --sl-bg-action-main-secondary-pressed: var(--sl-color-blue-300);
    --sl-bg-action-main-tertiary: transparent;
    --sl-bg-action-main-tertiary-hover: var(--sl-color-blue-50);
    --sl-bg-action-main-tertiary-pressed: var(--sl-color-blue-100);
    --sl-bg-action-main-tertiary-selected: var(--sl-color-blue-50);
    --sl-bg-action-critical-primary: var(--sl-color-red-400);
    --sl-bg-action-critical-primary-hover: var(--sl-color-red-500);
    --sl-bg-action-critical-primary-pressed: var(--sl-color-red-600);
    --sl-bg-action-critical-secondary: var(--sl-color-red-100);
    --sl-bg-action-critical-secondary-hover: var(--sl-color-red-200);
    --sl-bg-action-critical-secondary-pressed: var(--sl-color-red-300);
    --sl-bg-action-critical-tertiary: transparent;
    --sl-bg-action-critical-tertiary-hover: var(--sl-color-red-50);
    --sl-bg-action-critical-tertiary-pressed: var(--sl-color-red-100);
    --sl-bg-action-critical-tertiary-selected: var(--sl-color-red-50);
    --sl-bg-form-neutral: transparent;
    --sl-bg-form-neutral-hover: var(--sl-color-gray-100);
    --sl-bg-form-neutral-pressed: var(--sl-color-gray-300);
    --sl-bg-form-neutral-checked: var(--sl-color-black);
    --sl-bg-form-neutral-checked-hover: var(--sl-color-gray-600);
    --sl-bg-form-neutral-checked-pressed: var(--sl-color-gray-500);
    --sl-bg-form-neutral-inactive: var(--sl-color-gray-300);
    --sl-bg-form-neutral-inactive-hover: var(--sl-color-gray-500);
    --sl-bg-form-neutral-inactive-pressed: var(--sl-color-gray-600);
    --sl-bg-form-neutral-active: var(--sl-color-black);
    --sl-bg-form-neutral-active-hover: var(--sl-color-gray-600);
    --sl-bg-form-neutral-active-pressed: var(--sl-color-gray-500);
    --sl-bg-form-control-hover: transparent;
    --sl-bg-form-control-checked: var(--sl-color-blue-400);
    --sl-bg-form-control-checked-hover: var(--sl-color-blue-500);
    --sl-bg-form-control-checked-focus: var(--sl-color-blue-500);
    --sl-bg-form-control-active: var(--sl-color-green-400);
    --sl-bg-form-control-active-hover: var(--sl-color-green-500);
    --sl-bg-form-control-inactive: var(--sl-color-gray-300);
    --sl-bg-form-control-inactive-hover: var(--sl-color-gray-400);
    --sl-fg-primary: var(--sl-color-black);
    --sl-fg-secondary: var(--sl-color-gray-500);
    --sl-fg-disabled: var(--sl-color-gray-400);
    --sl-fg-inverted: var(--sl-color-white);
    --sl-fg-positive: var(--sl-color-green-400);
    --sl-fg-info: var(--sl-color-light-blue-400);
    --sl-fg-critical: var(--sl-color-red-400);
    --sl-fg-warning: var(--sl-color-orange40);
    --sl-fg-action-neutral-tertiary: var(--sl-color-gray-500);
    --sl-fg-action-neutral-tertiary-hover: var(--sl-color-gray-600);
    --sl-fg-action-neutral-tertiary-pressed: var(--sl-color-black);
    --sl-fg-action-main-primary: var(--sl-color-white);
    --sl-fg-action-main-primary-hover: var(--sl-color-white);
    --sl-fg-action-main-primary-pressed: var(--sl-color-white);
    --sl-fg-action-main-secondary: var(--sl-color-blue-400);
    --sl-fg-action-main-secondary-hover: var(--sl-color-blue-500);
    --sl-fg-action-main-secondary-pressed: var(--sl-color-blue-600);
    --sl-fg-action-main-tertiary: var(--sl-color-blue-400);
    --sl-fg-action-main-tertiary-hover: var(--sl-color-blue-500);
    --sl-fg-action-main-tertiary-pressed: var(--sl-color-blue-600);
    --sl-fg-action-main-tertiary-selected: var(--sl-color-blue-400);
    --sl-fg-action-critical-primary: var(--sl-color-white);
    --sl-fg-action-critical-primary-hover: var(--sl-color-white);
    --sl-fg-action-critical-primary-packageressed: var(--sl-color-white);
    --sl-fg-action-critical-secondary: var(--sl-color-red-400);
    --sl-fg-action-critical-secondary-hover: var(--sl-color-red-500);
    --sl-fg-action-critical-secondary-pressed: var(--sl-color-red-600);
    --sl-fg-action-critical-tertiary: var(--sl-color-red-400);
    --sl-fg-action-critical-tertiary-hover: var(--sl-color-red-500);
    --sl-fg-action-critical-tertiary-pressed: var(--sl-color-red-600);
    --sl-fg-action-critical-tertiary-selected: var(--sl-color-red-400);
    --sl-fg-form-neutral: var(--sl-color-black);
    --sl-fg-form-neutral-checked: var(--sl-color-white);
    --sl-fg-form-control: var(--sl-color-white);
    --sl-fg-form-control-neutral: var(--sl-color-black);
    --sl-fg-form-control-checked: var(--sl-color-white);
    --sl-border-width-0: 0rem;
    --sl-border-width-1: .0625rem;
    --sl-border-width-2: .125rem;
    --sl-border-neutral: var(--sl-border-width-1) solid var(--sl-color-gray-200);
    --sl-border-main-selected: var(--sl-border-width-2) solid var(--sl-color-blue-400);
    --sl-border-positive: var(--sl-border-width-1) solid var(--sl-color-green30);
    --sl-border-info: var(--sl-border-width-1) solid var(--sl-color-lightBlue30);
    --sl-border-critical: var(--sl-border-width-1) solid var(--sl-color-red-300);
    --sl-border-warning: var(--sl-border-width-1) solid var(--sl-color-orange30);
    --sl-border-disabled: var(--sl-border-width-1) solid var(--sl-color-gray-400);
    --sl-border-form-neutral: var(--sl-border-width-1) solid var(--sl-color-gray-300);
    --sl-border-form-neutral-hover: var(--sl-border-width-1) solid var(--sl-color-gray-500);
    --sl-border-form-neutral-focus: var(--sl-border-width-1) solid var(--sl-color-gray-600);
    --sl-border-form-neutral-pressed: var(--sl-border-width-1) solid var(--sl-color-gray-600);
    --sl-border-form-neutral-checked: var(--sl-border-width-1) solid var(--sl-color-black);
    --sl-border-form-neutral-checked-hover: var(--sl-border-width-1) solid var(--sl-color-gray-600);
    --sl-border-form-neutral-checked-pressed: var(--sl-border-width-1) solid var(--sl-color-gray-500);
    --sl-border-form-critical: var(--sl-border-width-1) solid var(--sl-color-red-400);
    --sl-border-form-critical-hover: var(--sl-border-width-1) solid var(--sl-color-red-500);
    --sl-border-form-critical-focus: var(--sl-border-width-1) solid var(--sl-color-red-600);
    --sl-border-form-control: var(--sl-border-width-1) solid var(--sl-color-gray-300);
    --sl-border-form-control-hover: var(--sl-border-width-1) solid var(--sl-color-gray-500);
    --sl-border-form-control-focus: var(--sl-border-width-1) solid var(--sl-color-gray-500);
    --sl-border-form-control-checked: var(--sl-border-width-1) solid var(--sl-color-blue-400);
    --sl-border-form-control-checked-hover: var(--sl-border-width-1) solid var(--sl-color-blue-500);
    --sl-border-form-control-checked-focus: var(--sl-border-width-1) solid var(--sl-color-blue-500);
    --sl-radii-none: 0rem;
    --sl-radii-base: .25rem;
    --sl-radii-pill: 100%;
    --sl-shadow-ring-critical: 0rem 0rem 0rem .0625rem var(--sl-color-red-50, ) 0rem 0rem 0rem .1875rem var(--sl-color-red-300);
    --sl-shadow-ring-neutral: 0rem 0rem 0rem .0625rem var(--sl-color-gray-50, ) 0rem 0rem 0rem .1875rem var(--sl-color-gray-300);
    --sl-shadow-ring-main: 0rem 0rem 0rem .0625rem var(--sl-color-blue-50, ) 0rem 0rem 0rem .1875rem var(--sl-color-blue-300);
    --sl-shadow-overlay-center: 0rem 0rem 1rem 0rem var(--sl-color-gray-transparent-10);
    --sl-shadow-overlay-bottom: 0rem 0rem 1.5rem 0rem var(--sl-color-gray-transparent-05);
    --sl-z-1: 0;
    --sl-z-2: 100;
    --sl-z-3: 200;
    --sl-z-4: 300;
    --sl-z-5: 400;
    --sl-z-6: 500;
    --sl-z-7: 600;
    --sl-z-8: 700;
    --sl-z-9: 800;
    --sl-z-10: 900;
    --sl-font-family-sans: "Inter", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --sl-font-family-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --sl-font-size-1: .75rem;
    --sl-font-size-2: .875rem;
    --sl-font-size-3: 1rem;
    --sl-font-size-4: 1.25rem;
    --sl-font-size-5: 1.5rem;
    --sl-font-weight-hairline: 100;
    --sl-font-weight-thin: 200;
    --sl-font-weight-light: 300;
    --sl-font-weight-regular: 400;
    --sl-font-weight-medium: 500;
    --sl-font-weight-semibold: 600;
    --sl-font-weight-bold: 700;
    --sl-font-weight-black: 800;
    --sl-font-weight-ui-baseline: var(--sl-font-weight-medium);
    --sl-font-weight-ui-strong: var(--sl-font-weight-semibold);
    --sl-font-weight-ui-strongest: var(--sl-font-weight-bold);
    --sl-font-line-height-1: 1.3;
    --sl-font-line-height-2: 1.5;
    --sl-text-page-title: var(--sl-font-weight-ui-baseline) var(--sl-font-size-4) / var(--sl-font-line-height-1) var(--sl-font-family-sans);
    --sl-text-title-1: var(--sl-font-weight-ui-strong) var(--sl-font-size-3) / var(--sl-font-line-height-2) var(--sl-font-family-sans);
    --sl-text-title-2: var(--sl-font-weight-ui-baseline) var(--sl-font-size-3) / var(--sl-font-line-height-2) var(--sl-font-family-sans);
    --sl-text-action-1: var(--sl-font-weight-ui-strong) var(--sl-font-size-2) / var(--sl-font-line-height-1) var(--sl-font-family-sans);
    --sl-text-action-2: var(--sl-font-weight-ui-baseline) var(--sl-font-size-2) / var(--sl-font-line-height-1) var(--sl-font-family-sans);
    --sl-text-display: var(--sl-font-weight-ui-strong) var(--sl-font-size-5) / var(--sl-font-line-height-1) var(--sl-font-family-sans);
    --sl-text-body: var(--sl-font-weight-ui-baseline) var(--sl-font-size-2) / var(--sl-font-line-height-1) var(--sl-font-family-sans);
    --sl-text-detail: var(--sl-font-weight-ui-baseline) var(--sl-font-size-1) / var(--sl-font-line-height-1) var(--sl-font-family-sans);
    --sl-text-code: var(--sl-font-weight-ui-baseline) var(--sl-font-size-2) / var(--sl-font-line-height-1) var(--sl-font-family-mono);
  }
}
