name: Release workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Shoreline
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.VTEX_GITHUB_BOT_TOKEN }}
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.4.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Configure CI Git User
        run: bash ./scripts/configure-git-user.sh
        env:
          GIT_USERS: ${{ secrets.GIT_USERS }}
          GIT_EMAILS: ${{ secrets.GIT_EMAILS }}

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            **/dist
            !**/node_modules
          retention-days: 1

      - name: Test
        run: pnpm test

      - name: Publish to Chromatic
        id: publish-to-chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          buildScriptName: build:storybook:ci
          exitOnceUploaded: true
          exitZeroOnChanges: true
          onlyChanged: true

      - name: Publish
        run: |
          if git log -1 --pretty=%B | grep -q "\[skip-ci\]"; then
            exit 0
          fi
          pnpm lerna publish --yes --force-publish --no-private --conventional-commits --create-release github
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          GH_TOKEN: ${{ secrets.VTEX_GITHUB_BOT_TOKEN }}
          HUSKY: 0
