[data-sl-calendar-grid] {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  & > thead,
  tbody,
  tr {
    display: contents;
  }
}

[data-sl-calendar-grid-header] {
  font: var(--sl-text-body-font);
  letter-spacing: var(--sl-text-body-letter-spacing);
}
